@use "../scss/api";

:host(.selected) {
  background-color: var(--u-select-option-selected-bg-color, #{api.get-color-transparency-mix(api.get-color-var(primary), 12%)});

  .icon,
  .content {
    color: var(--u-select-option-selected-text-color, #{api.get-color-var(primary)});
  }
}

:host(:not(.selected):not([has-trailing-icon])) {
  .trailing {
    display: none;
  }
}
