.container {
  cursor: pointer;
}

u-menu {
  display: block;
  width: 100%;

  &::part(menu) {
    width: 100%;
    max-width: 100%;
  }
}

.button {
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  appearance: none;
}

select {
  pointer-events: none;
}
