@use "../scss/variables";
@use "../scss/api";

:host {
  --u-elevation-level: var(--u-snackbar-elevation-level, 3);
  --_snackbar-margin: var(--u-snackbar-margin, #{api.get-spacing-var(medium)});

  position: fixed;
  inset-inline: 0;
  inset-block-end: 0;
  padding: var(--_snackbar-margin);
  z-index: var(--u-snackbar-z-index, 1070);
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-height: var(--u-snackbar-height, 48px);
  background-color: var(--u-snackbar-container-color, #{api.get-color-var(inverse-surface)});
  border-radius: var(--u-snackbar-shape, #{api.get-shape-corner-var(extra-small)});
  animation-name: snackbar-fade-in;
  animation-duration: 450ms;
  animation-timing-function: variables.$awesome-cubic-bezier;
  animation-fill-mode: forwards;
  min-width: var(--u-snackbar-min-width, 100%);
  max-width: var(--u-snackbar-max-width, 100%);
  pointer-events: auto;

  &.dismiss {
    animation-name: snackbar-fade-out;
  }
}

u-button {
  color: #{api.get-color-var(inverse-primary)};
  margin: var(--u-snackbar-action-margin, #{api.get-spacing-var(extra-small)});
}

u-icon-button {
  color: #{api.get-color-var(on-inverse-surface)};
  margin-inline: var(--u-snackbar-close-button-margin, #{api.get-spacing-var(extra-small)});;
}

.message-container {
  flex: 1 1 auto;
  overflow: hidden;
  color: var(--u-snackbar-message-color, #{api.get-color-var(on-inverse-surface)});
  padding: var(--u-snackbar-text-margin, #{api.get-spacing-var(medium)});
  line-height: 18px;
}

.message {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@include api.media-breakpoint-up(md) {
  :host {
    --_snackbar-margin: var(--u-snackbar-margin, #{api.get-spacing-var(large)});
  }

  .container {
    min-width: var(--u-snackbar-min-width, 344px);
  }
}

@keyframes snackbar-fade-in {
  0% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes snackbar-fade-out {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }
}

