docs-title(title="Selection controls")

docs-example(
  sectionTitle="Select")

  u-select(label="States")
    u-option(
      *ngFor="let state of states",
      [value]="state") {{state}}

