docs-title(title="Container")
  | Containers are a fundamental building block of Universal Material that contain, pad, and align your content.

docs-example(sectionTitle="Overview")
  markdown {{overviewMd}}

docs-example(
  sectionTitle="Default container",
  [html]="defaultContainerHtml")
  markdown The default `.container` class limit the width of the container and align it at the center of its parent.

docs-example(
  sectionTitle="Fluid container",
  [html]="fluidContainerHtml")
  markdown Use `.container-fluid` for a full width container, spanning the entire width of the its parent.

docs-example(
  sectionTitle="CSS")
  h4.u-title-m Containers variables
  u-card.api-card(variant="outlined")
    table.u-table(slot="before-content")
      thead
        tr
          th Variable
          th Default
      tbody
        tr
          td
            code --u-layout-margin-default
          td
            code --u-spacing-medium
            span &nbsp;(compact),&nbsp;
            code --u-spacing-large
            span &nbsp;(expanded).
        tr
          td
            code --u-layout-margin
          td
            code --u-layout-margin-default
        tr
          td
            code --u-layout-margin-inline
          td
            code --u-layout-margin
        tr
          td
            code --u-layout-margin-block
          td
            code --u-layout-margin

  h4.u-title-m Default container variables
  u-card.api-card(variant="outlined")
    table.u-table(slot="before-content")
      thead
        tr
          th Variable
          th Default
      tbody
        tr
          td
            code --u-container-width
          td
            code 992px
