@use "../scss/variables";
@use "../scss/api";

:host {
  display: block;
  --_grid-gutter: var(--u-grid-gutter-default, var(--u-grid-spacing-default, var(--_grid-spacing-default)));
}

@each $breakpoint, $_ in variables.$breakpoints {
  $infix: api.breakpoint-infix($breakpoint);

  @include api.media-breakpoint-up($breakpoint) {

    :host([gutter#{$infix}="none"]) {
      --_grid-gutter: 0;
    }

    :host([gutter#{$infix}="small"]) {
      --_grid-gutter: var(--_grid-spacing-sm);
    }

    :host([gutter#{$infix}="medium"]) {
      --_grid-gutter: var(--_grid-spacing-md);
    }

    :host([gutter#{$infix}="large"]) {
      --_grid-gutter: var(--_grid-spacing-lg);
    }

    :host([gutter#{$infix}="extra-large"]) {
      --_grid-gutter: var(--_grid-spacing-xl);
    }
    
    :host([cols#{$infix}]) slot {
      --_grid-template-columns: var(--_cols#{$infix});
    }

    :host([template-columns#{$infix}]) slot {
      --_grid-template-columns: var(--_template-columns#{$infix});
    }
  }
}

slot {
  display: grid;
  grid-template-columns: var(--_grid-template-columns);
  gap: var(--u-grid-gutter, var(--_grid-gutter));
}
