extends _layout

block content
  +renderTitle('Universal Material')

  h5.u-headline5.article-title Installation
  p Include Universal Material source sass and TypeScript files via npm.

  pre
    code.terminal $ npm install @universal-material/web -S


