@use "../../src/scss/mixins";
@use "../../src/scss/functions";

body {
  --u-font-family: Roboto;
  --u-font-monospace: "Roboto Mono";
  min-height: 100vh;
}

//@include mixins.media-breakpoint-up(md) {
//  body {
//    --u-color-body: var(--u-color-surface-container);
//  }
//}

.hljs {
  background-color: var(--u-color-surface-container);
}

docs-typography {
  docs-example {
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
}

docs-submenu {
  .submenu-items u-drawer-item {
    margin-inline: 12px;
  }
}

.article-title {
  margin-top: 48px;
  margin-bottom: 16px;
  font-weight: var(--u-font-weight-regular);

  a {
    text-decoration: none !important;
  }
}

markdown code,
.api-card code {
  white-space: nowrap;
  color: var(--u-color-on-surface-variant);
  background-color: var(--u-color-surface-container-high) !important;
  padding: 4px !important;
  border-radius: 8px;
}

markdown {
  line-height: 1.5em;

  code {
    color: var(--u-color-primary);
  }

  li + li {
    margin-top: var(--u-spacing-small);
  }
}

.ripple-example-container {
  position: relative;
  width: 200px;
  aspect-ratio: 1;
  border: 1px solid var(--u-color-outline);
  margin-inline-end: 16px;

  &.round {
    border-radius: 24px;
  }
}

.example-card-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background: url("https://picsum.photos/seed/picsum/800/800") center;
  background-size: cover;

  u-card-content {
    background-color: #{functions.get-color-transparency-mix(var(--u-color-scrim), 50%)};
  }
}

.material-symbols-fill {
  font-variation-settings: 'FILL' 1;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.p-2 {
  padding: 8px !important;
}

.p-4 {
  padding: 24px !important;
}

.position-relative {
  position: relative !important;
}

.rtl {
  direction: rtl;
}

* {
  box-sizing: border-box;
}

.reapply-container-margin {
  --u-list-item-inline-padding: var(--u-layout-margin);
  margin-inline: calc(var(--u-layout-margin) * -1);
}

.material-symbols-outlined {
  font-size: inherit;
}
