:root {
  --u-color-primary: #6750a4;
  --u-color-primary-rgb: 103,80,164;
  --u-color-inverse-primary: #cfbcff;
  --u-color-inverse-primary-rgb: 207,188,255;
  --u-color-on-primary: #ffffff;
  --u-color-on-primary-rgb: 255,255,255;
  --u-color-on-inverse-primary: #381e72;
  --u-color-on-inverse-primary-rgb: 56,30,114;
  --u-color-primary-container: #e9ddff;
  --u-color-primary-container-rgb: 233,221,255;
  --u-color-inverse-primary-container: #4f378a;
  --u-color-inverse-primary-container-rgb: 79,55,138;
  --u-color-on-primary-container: #22005d;
  --u-color-on-primary-container-rgb: 34,0,93;
  --u-color-on-inverse-primary-container: #e9ddff;
  --u-color-on-inverse-primary-container-rgb: 233,221,255;
  --u-color-primary-fixed: #e9ddff;
  --u-color-primary-fixed-rgb: 233,221,255;
  --u-color-primary-fixed-dim: #ffffff;
  --u-color-primary-fixed-dim-rgb: 255,255,255;
  --u-color-on-primary-fixed: #22005d;
  --u-color-on-primary-fixed-rgb: 34,0,93;
  --u-color-on-primary-fixed-variant: #4f378a;
  --u-color-on-primary-fixed-variant-rgb: 79,55,138;
  --u-color-secondary: #625b71;
  --u-color-secondary-rgb: 98,91,113;
  --u-color-inverse-secondary: #cbc2db;
  --u-color-inverse-secondary-rgb: 203,194,219;
  --u-color-on-secondary: #ffffff;
  --u-color-on-secondary-rgb: 255,255,255;
  --u-color-on-inverse-secondary: #332d41;
  --u-color-on-inverse-secondary-rgb: 51,45,65;
  --u-color-secondary-container: #e8def8;
  --u-color-secondary-container-rgb: 232,222,248;
  --u-color-inverse-secondary-container: #4a4458;
  --u-color-inverse-secondary-container-rgb: 74,68,88;
  --u-color-on-secondary-container: #1e192b;
  --u-color-on-secondary-container-rgb: 30,25,43;
  --u-color-on-inverse-secondary-container: #e8def8;
  --u-color-on-inverse-secondary-container-rgb: 232,222,248;
  --u-color-secondary-fixed: #e8def8;
  --u-color-secondary-fixed-rgb: 232,222,248;
  --u-color-secondary-fixed-dim: #ffffff;
  --u-color-secondary-fixed-dim-rgb: 255,255,255;
  --u-color-on-secondary-fixed: #1e192b;
  --u-color-on-secondary-fixed-rgb: 30,25,43;
  --u-color-on-secondary-fixed-variant: #4a4458;
  --u-color-on-secondary-fixed-variant-rgb: 74,68,88;
  --u-color-tertiary: #7e5260;
  --u-color-tertiary-rgb: 126,82,96;
  --u-color-inverse-tertiary: #efb8c8;
  --u-color-inverse-tertiary-rgb: 239,184,200;
  --u-color-on-tertiary: #ffffff;
  --u-color-on-tertiary-rgb: 255,255,255;
  --u-color-on-inverse-tertiary: #4a2532;
  --u-color-on-inverse-tertiary-rgb: 74,37,50;
  --u-color-tertiary-container: #ffd9e3;
  --u-color-tertiary-container-rgb: 255,217,227;
  --u-color-inverse-tertiary-container: #633b48;
  --u-color-inverse-tertiary-container-rgb: 99,59,72;
  --u-color-on-tertiary-container: #31101d;
  --u-color-on-tertiary-container-rgb: 49,16,29;
  --u-color-on-inverse-tertiary-container: #ffd9e3;
  --u-color-on-inverse-tertiary-container-rgb: 255,217,227;
  --u-color-tertiary-fixed: #ffd9e3;
  --u-color-tertiary-fixed-rgb: 255,217,227;
  --u-color-tertiary-fixed-dim: #ffffff;
  --u-color-tertiary-fixed-dim-rgb: 255,255,255;
  --u-color-on-tertiary-fixed: #31101d;
  --u-color-on-tertiary-fixed-rgb: 49,16,29;
  --u-color-on-tertiary-fixed-variant: #633b48;
  --u-color-on-tertiary-fixed-variant-rgb: 99,59,72;
  --u-color-error: #b4271f;
  --u-color-error-rgb: 180,39,31;
  --u-color-inverse-error: #ffb4aa;
  --u-color-inverse-error-rgb: 255,180,170;
  --u-color-on-error: #ffffff;
  --u-color-on-error-rgb: 255,255,255;
  --u-color-on-inverse-error: #690003;
  --u-color-on-inverse-error-rgb: 105,0,3;
  --u-color-error-container: #ffdad5;
  --u-color-error-container-rgb: 255,218,213;
  --u-color-inverse-error-container: #910809;
  --u-color-inverse-error-container-rgb: 145,8,9;
  --u-color-on-error-container: #410001;
  --u-color-on-error-container-rgb: 65,0,1;
  --u-color-on-inverse-error-container: #ffdad5;
  --u-color-on-inverse-error-container-rgb: 255,218,213;
  --u-color-error-fixed: #ffdad5;
  --u-color-error-fixed-rgb: 255,218,213;
  --u-color-error-fixed-dim: #ffffff;
  --u-color-error-fixed-dim-rgb: 255,255,255;
  --u-color-on-error-fixed: #410001;
  --u-color-on-error-fixed-rgb: 65,0,1;
  --u-color-on-error-fixed-variant: #910809;
  --u-color-on-error-fixed-variant-rgb: 145,8,9;
  --u-color-surface: #fdf8fd;
  --u-color-surface-rgb: 253,248,253;
  --u-color-inverse-surface: #141316;
  --u-color-inverse-surface-rgb: 20,19,22;
  --u-color-surface-bright: #fdf8fd;
  --u-color-surface-bright-rgb: 253,248,253;
  --u-color-inverse-surface-bright: #3a383c;
  --u-color-inverse-surface-bright-rgb: 58,56,60;
  --u-color-surface-dim: #ddd8dd;
  --u-color-surface-dim-rgb: 221,216,221;
  --u-color-inverse-surface-dim: #141316;
  --u-color-inverse-surface-dim-rgb: 20,19,22;
  --u-color-surface-container-lowest: #ffffff;
  --u-color-surface-container-lowest-rgb: 255,255,255;
  --u-color-inverse-surface-container-lowest: #0f0e11;
  --u-color-inverse-surface-container-lowest-rgb: 15,14,17;
  --u-color-surface-container-low: #f7f2f7;
  --u-color-surface-container-low-rgb: 247,242,247;
  --u-color-inverse-surface-container-low: #1c1b1e;
  --u-color-inverse-surface-container-low-rgb: 28,27,30;
  --u-color-surface-container: #f2ecf1;
  --u-color-surface-container-rgb: 242,236,241;
  --u-color-inverse-surface-container: #201f22;
  --u-color-inverse-surface-container-rgb: 32,31,34;
  --u-color-surface-container-high: #ece7eb;
  --u-color-surface-container-high-rgb: 236,231,235;
  --u-color-inverse-surface-container-high: #2b292d;
  --u-color-inverse-surface-container-high-rgb: 43,41,45;
  --u-color-surface-container-highest: #e6e1e6;
  --u-color-surface-container-highest-rgb: 230,225,230;
  --u-color-inverse-surface-container-highest: #363438;
  --u-color-inverse-surface-container-highest-rgb: 54,52,56;
  --u-color-on-surface: #1c1b1e;
  --u-color-on-surface-rgb: 28,27,30;
  --u-color-on-inverse-surface: #e6e1e6;
  --u-color-on-inverse-surface-rgb: 230,225,230;
  --u-color-scrim: #000000;
  --u-color-scrim-rgb: 0,0,0;
  --u-color-shadow: #000000;
  --u-color-shadow-rgb: 0,0,0;
  --u-color-background: var(--u-color-surface);
  --u-color-background-rgb: var(--u-color-surface-rgb);
  --u-color-inverse-background: var(--u-color-inverse-surface);
  --u-color-inverse-background-rgb: var(--u-color-inverse-surface-rgb);
  --u-color-on-background: var(--u-color-on-surface);
  --u-color-on-background-rgb: var(--u-color-on-surface-rgb);
  --u-color-on-inverse-background: var(--u-color-on-inverse-surface);
  --u-color-on-inverse-background-rgb: var(--u-color-on-inverse-surface-rgb);
  --u-color-surface-variant: #e6e1e6;
  --u-color-surface-variant-rgb: 230,225,230;
  --u-color-inverse-surface-variant: #48464a;
  --u-color-inverse-surface-variant-rgb: 72,70,74;
  --u-color-on-surface-variant: #48464a;
  --u-color-on-surface-variant-rgb: 72,70,74;
  --u-color-on-inverse-surface-variant: #cac5ca;
  --u-color-on-inverse-surface-variant-rgb: 202,197,202;
  --u-color-outline: #79767a;
  --u-color-outline-rgb: 121,118,122;
  --u-color-inverse-outline: #938f94;
  --u-color-inverse-outline-rgb: 147,143,148;
  --u-color-outline-variant: #cac5ca;
  --u-color-outline-variant-rgb: 202,197,202;
  --u-color-inverse-outline-variant: #48464a;
  --u-color-inverse-outline-variant-rgb: 72,70,74;
}

.u-dark-mode {
  --u-color-primary: #cfbcff;
  --u-color-primary-rgb: 207,188,255;
  --u-color-inverse-primary: #6750a4;
  --u-color-inverse-primary-rgb: 103,80,164;
  --u-color-on-primary: #381e72;
  --u-color-on-primary-rgb: 56,30,114;
  --u-color-on-inverse-primary: #ffffff;
  --u-color-on-inverse-primary-rgb: 255,255,255;
  --u-color-primary-container: #4f378a;
  --u-color-primary-container-rgb: 79,55,138;
  --u-color-inverse-primary-container: #e9ddff;
  --u-color-inverse-primary-container-rgb: 233,221,255;
  --u-color-on-primary-container: #e9ddff;
  --u-color-on-primary-container-rgb: 233,221,255;
  --u-color-on-inverse-primary-container: #22005d;
  --u-color-on-inverse-primary-container-rgb: 34,0,93;
  --u-color-primary-fixed: #e9ddff;
  --u-color-primary-fixed-rgb: 233,221,255;
  --u-color-primary-fixed-dim: #ffffff;
  --u-color-primary-fixed-dim-rgb: 255,255,255;
  --u-color-on-primary-fixed: #22005d;
  --u-color-on-primary-fixed-rgb: 34,0,93;
  --u-color-on-primary-fixed-variant: #4f378a;
  --u-color-on-primary-fixed-variant-rgb: 79,55,138;
  --u-color-secondary: #cbc2db;
  --u-color-secondary-rgb: 203,194,219;
  --u-color-inverse-secondary: #625b71;
  --u-color-inverse-secondary-rgb: 98,91,113;
  --u-color-on-secondary: #332d41;
  --u-color-on-secondary-rgb: 51,45,65;
  --u-color-on-inverse-secondary: #ffffff;
  --u-color-on-inverse-secondary-rgb: 255,255,255;
  --u-color-secondary-container: #4a4458;
  --u-color-secondary-container-rgb: 74,68,88;
  --u-color-inverse-secondary-container: #e8def8;
  --u-color-inverse-secondary-container-rgb: 232,222,248;
  --u-color-on-secondary-container: #e8def8;
  --u-color-on-secondary-container-rgb: 232,222,248;
  --u-color-on-inverse-secondary-container: #1e192b;
  --u-color-on-inverse-secondary-container-rgb: 30,25,43;
  --u-color-secondary-fixed: #e8def8;
  --u-color-secondary-fixed-rgb: 232,222,248;
  --u-color-secondary-fixed-dim: #ffffff;
  --u-color-secondary-fixed-dim-rgb: 255,255,255;
  --u-color-on-secondary-fixed: #1e192b;
  --u-color-on-secondary-fixed-rgb: 30,25,43;
  --u-color-on-secondary-fixed-variant: #4a4458;
  --u-color-on-secondary-fixed-variant-rgb: 74,68,88;
  --u-color-tertiary: #efb8c8;
  --u-color-tertiary-rgb: 239,184,200;
  --u-color-inverse-tertiary: #7e5260;
  --u-color-inverse-tertiary-rgb: 126,82,96;
  --u-color-on-tertiary: #4a2532;
  --u-color-on-tertiary-rgb: 74,37,50;
  --u-color-on-inverse-tertiary: #ffffff;
  --u-color-on-inverse-tertiary-rgb: 255,255,255;
  --u-color-tertiary-container: #633b48;
  --u-color-tertiary-container-rgb: 99,59,72;
  --u-color-inverse-tertiary-container: #ffd9e3;
  --u-color-inverse-tertiary-container-rgb: 255,217,227;
  --u-color-on-tertiary-container: #ffd9e3;
  --u-color-on-tertiary-container-rgb: 255,217,227;
  --u-color-on-inverse-tertiary-container: #31101d;
  --u-color-on-inverse-tertiary-container-rgb: 49,16,29;
  --u-color-tertiary-fixed: #ffd9e3;
  --u-color-tertiary-fixed-rgb: 255,217,227;
  --u-color-tertiary-fixed-dim: #ffffff;
  --u-color-tertiary-fixed-dim-rgb: 255,255,255;
  --u-color-on-tertiary-fixed: #31101d;
  --u-color-on-tertiary-fixed-rgb: 49,16,29;
  --u-color-on-tertiary-fixed-variant: #633b48;
  --u-color-on-tertiary-fixed-variant-rgb: 99,59,72;
  --u-color-error: #ffb4aa;
  --u-color-error-rgb: 255,180,170;
  --u-color-inverse-error: #b4271f;
  --u-color-inverse-error-rgb: 180,39,31;
  --u-color-on-error: #690003;
  --u-color-on-error-rgb: 105,0,3;
  --u-color-on-inverse-error: #ffffff;
  --u-color-on-inverse-error-rgb: 255,255,255;
  --u-color-error-container: #910809;
  --u-color-error-container-rgb: 145,8,9;
  --u-color-inverse-error-container: #ffdad5;
  --u-color-inverse-error-container-rgb: 255,218,213;
  --u-color-on-error-container: #ffdad5;
  --u-color-on-error-container-rgb: 255,218,213;
  --u-color-on-inverse-error-container: #410001;
  --u-color-on-inverse-error-container-rgb: 65,0,1;
  --u-color-error-fixed: #ffdad5;
  --u-color-error-fixed-rgb: 255,218,213;
  --u-color-error-fixed-dim: #ffffff;
  --u-color-error-fixed-dim-rgb: 255,255,255;
  --u-color-on-error-fixed: #410001;
  --u-color-on-error-fixed-rgb: 65,0,1;
  --u-color-on-error-fixed-variant: #910809;
  --u-color-on-error-fixed-variant-rgb: 145,8,9;
  --u-color-surface: #141316;
  --u-color-surface-rgb: 20,19,22;
  --u-color-inverse-surface: #fdf8fd;
  --u-color-inverse-surface-rgb: 253,248,253;
  --u-color-surface-bright: #3a383c;
  --u-color-surface-bright-rgb: 58,56,60;
  --u-color-inverse-surface-bright: #fdf8fd;
  --u-color-inverse-surface-bright-rgb: 253,248,253;
  --u-color-surface-dim: #141316;
  --u-color-surface-dim-rgb: 20,19,22;
  --u-color-inverse-surface-dim: #ddd8dd;
  --u-color-inverse-surface-dim-rgb: 221,216,221;
  --u-color-surface-container-lowest: #0f0e11;
  --u-color-surface-container-lowest-rgb: 15,14,17;
  --u-color-inverse-surface-container-lowest: #ffffff;
  --u-color-inverse-surface-container-lowest-rgb: 255,255,255;
  --u-color-surface-container-low: #1c1b1e;
  --u-color-surface-container-low-rgb: 28,27,30;
  --u-color-inverse-surface-container-low: #f7f2f7;
  --u-color-inverse-surface-container-low-rgb: 247,242,247;
  --u-color-surface-container: #201f22;
  --u-color-surface-container-rgb: 32,31,34;
  --u-color-inverse-surface-container: #f2ecf1;
  --u-color-inverse-surface-container-rgb: 242,236,241;
  --u-color-surface-container-high: #2b292d;
  --u-color-surface-container-high-rgb: 43,41,45;
  --u-color-inverse-surface-container-high: #ece7eb;
  --u-color-inverse-surface-container-high-rgb: 236,231,235;
  --u-color-surface-container-highest: #363438;
  --u-color-surface-container-highest-rgb: 54,52,56;
  --u-color-inverse-surface-container-highest: #e6e1e6;
  --u-color-inverse-surface-container-highest-rgb: 230,225,230;
  --u-color-on-surface: #e6e1e6;
  --u-color-on-surface-rgb: 230,225,230;
  --u-color-on-inverse-surface: #1c1b1e;
  --u-color-on-inverse-surface-rgb: 28,27,30;
  --u-color-scrim: #000000;
  --u-color-scrim-rgb: 0,0,0;
  --u-color-shadow: #000000;
  --u-color-shadow-rgb: 0,0,0;
  --u-color-background: var(--u-color-surface);
  --u-color-background-rgb: var(--u-color-surface-rgb);
  --u-color-inverse-background: var(--u-color-inverse-surface);
  --u-color-inverse-background-rgb: var(--u-color-inverse-surface-rgb);
  --u-color-on-background: var(--u-color-on-surface);
  --u-color-on-background-rgb: var(--u-color-on-surface-rgb);
  --u-color-on-inverse-background: var(--u-color-on-inverse-surface);
  --u-color-on-inverse-background-rgb: var(--u-color-on-inverse-surface-rgb);
  --u-color-surface-variant: #48464a;
  --u-color-surface-variant-rgb: 72,70,74;
  --u-color-inverse-surface-variant: #e6e1e6;
  --u-color-inverse-surface-variant-rgb: 230,225,230;
  --u-color-on-surface-variant: #cac5ca;
  --u-color-on-surface-variant-rgb: 202,197,202;
  --u-color-on-inverse-surface-variant: #48464a;
  --u-color-on-inverse-surface-variant-rgb: 72,70,74;
  --u-color-outline: #938f94;
  --u-color-outline-rgb: 147,143,148;
  --u-color-inverse-outline: #79767a;
  --u-color-inverse-outline-rgb: 121,118,122;
  --u-color-outline-variant: #48464a;
  --u-color-outline-variant-rgb: 72,70,74;
  --u-color-inverse-outline-variant: #cac5ca;
  --u-color-inverse-outline-variant-rgb: 202,197,202;
}
