@use "../scss/api";

:host {
  display: block;
  --u-menu-item-label-font-weight: var(--u-typeahead-item-font-weight, #{api.get-font-weight-var(regular)});
}

:host([fit-target]) {
  u-menu {
    &::part(menu) {
      width: var(--_menu-width);
      max-width: none;
    }
  }
}
