@use "../scss/api";

:host {
  display: block;
}

:host([fit-target]) {
  u-menu {
    &::part(menu) {
      width: var(--_menu-width);
      max-width: none;
    }
  }
}

u-menu-item {
  font-weight: var(--u-typeahead-item-font-weight, #{api.get-font-weight-var(regular)});
}
