docs-title(title="Icon buttons")

docs-example(
  sectionTitle="Variants",
  [html]="variantsHtml")

docs-example(
  sectionTitle="Anchor buttons",
  [html]="anchorButtonsHtml")

docs-example(
  sectionTitle="Toggles",
  [html]="togglesHtml")

docs-example(
  sectionTitle="Toggles (manual)",
  [html]="togglesManualHtml")

docs-apis-table(key="iconButton")
