docs-title(title="Chips")

docs-example(
  sectionTitle="Default chip",
  [html]="defaultChipHtml")

docs-example(
  sectionTitle="Elevated chip",
  [html]="elevatedChipHtml")

docs-example(
  sectionTitle="Selected chip",
  [html]="selectedChipHtml")

docs-example(
  sectionTitle="Chip input",
  [html]="chipInputHtml")
