.u-column
  u-text-field(label="Batata", [(ngModel)]="value", ngDefaultControl)
  u-field(label="Batata")
    span(slot="error-text") Required
    span(slot="supporting-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim sodales sagittis. Nunc eget luctus nibh, in lacinia urna. Fusce nulla risus, vulputate eget feugiat et, congue eu odio. Aenean feugiat lectus eget diam euismod, vitae tempor eros lobortis. Etiam laoreet sagittis ante id varius. Sed fermentum, arcu at pretium maximus, libero felis laoreet nisi, ac hendrerit ex sem non nunc. Vivamus in lobortis mi, at venenatis nulla. In sagittis, magna vitae porta ultrices, leo neque tempor tortor, sit amet efficitur est est vel nunc.
    span(slot="counter") 10/100
  u-field(
    label="Batata"
    counter="10/100"
    error-text="Required"
    supporting-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim sodales sagittis. Nunc eget luctus nibh, in lacinia urna. Fusce nulla risus, vulputate eget feugiat et, congue eu odio. Aenean feugiat lectus eget diam euismod, vitae tempor eros lobortis. Etiam laoreet sagittis ante id varius. Sed fermentum, arcu at pretium maximus, libero felis laoreet nisi, ac hendrerit ex sem non nunc. Vivamus in lobortis mi, at venenatis nulla. In sagittis, magna vitae porta ultrices, leo neque tempor tortor, sit amet efficitur est est vel nunc.")
