@use "sass:map";

@use "../typo/variables";
@use "../functions";

@mixin typo($style) {
  @if not map.has-key(variables.$typography-styles, $style) {
    @error "Invalid style specified! #{$style} doesn't exist. Choose one of #{map.keys(variables.$typography-styles)}";
  }

  font-family: var(--u-typo-#{$style}-font-family, #{functions.get-font-family-var()});
  font-size: var(--u-typo-#{$style}-font-size);
  font-weight: var(--u-typo-#{$style}-font-weight);
  line-height: var(--u-typo-#{$style}-line-height);
  letter-spacing: var(--u-typo-#{$style}-letter-spacing);
}
