docs-title(title="Chip field") A field that renders a chip for each item inside its value.

docs-example(
  sectionTitle="Simple",
  [html]="simpleHtml")

docs-example(
  sectionTitle="Object value",
  [renderExample]="false",
  [html]="objectValuesHtml")
  u-chip-field(
    label="States",
    manual,
    [formatter]="formatter",
    (keydown)="keyDown($event)")

docs-apis-table(key="chipField")
