extends ../_layout

block content
  +renderTitle('Grid system')

  .u-row
    .u-col-sm
      .u-card
        .u-card-body One of three columns
    .u-col-sm
      .u-card
        .u-card-body One of three columns
    .u-col-sm
      .u-card
        .u-card-body One of three columns
