extends ../layout

block content
  h4.u-headline4.chapter-title Grid system

  .u-row
    .u-col-sm
      .u-card
        .u-card-body One of three columns
    .u-col-sm
      .u-card
        .u-card-body One of three columns
    .u-col-sm
      .u-card
        .u-card-body One of three columns
