@use "../variables";

.u-text-high-emphasis {
  --u-text-opacity: var(--u-high-emphasis-opacity);
  color: rgba(var(--u-current-text-color-rgb), var(--u-text-opacity)) !important;
}
.u-text-low-emphasis {
  --u-text-opacity: var(--u-low-emphasis-opacity);
  color: rgba(var(--u-current-text-color-rgb), var(--u-text-opacity)) !important;
}

.u-text-lower-emphasis {
  --u-text-opacity: var(--u-lower-emphasis-opacity);
  color: rgba(var(--u-current-text-color-rgb), var(--u-text-opacity)) !important;
}

@each $weight, $value in variables.$font-weights {
  .u-font-weight-#{$weight} {
    font-weight: var(--u-font-weight-#{$weight}) !important;
  }
}
