docs-title(title="Dividers")

docs-example(
  sectionTitle="Usage",
  [html]="usageHtml")

docs-example(
  sectionTitle="No margin",
  [html]="noMarginHtml")

docs-apis-table(key="divider")
