@import "../../colors";
@import "../../font";
@import "../../mixins";

//Data table
$row-horizontal-padding: 1rem !default;

$u-data-table-divider-width: .0625rem !default;
$u-data-table-border: $u-data-table-divider-width solid var(--u-outline-variant-color) !default;

$u-data-table-horizontal-padding: $row-horizontal-padding !default;

$u-data-table-column-vertical-padding: .8125rem !default;
$u-data-table-column-header-vertical-padding: 1rem !default;
$u-data-table-column-header-font-size: .8125rem !default;
$u-data-table-column-header-font-weight: var(--u-font-weight-medium) !default;
$u-data-table-column-header-line-height: 1rem !default;

$u-data-table-card-footer-height: 4rem !default;
$u-data-table-card-footer-font-size: .75rem !default;
$u-data-table-card-footer-font-weight: var(--u-font-weight-regular) !default;

$u-data-table-content-font-size: .875rem !default;
$u-data-table-content-font-weight: var(--u-font-weight-medium) !default;
