extends ../_layout

block content
  +renderTitle('Colors')

  +renderSection('Theme colors')
    include:exampleCode text-colors/theme-colors.html

  +renderSection('Common colors')
    include:exampleCode text-colors/common-colors.html

  +renderSection('Emphasis colors')
    include:exampleCode text-colors/emphasis-colors.html
