extends ../_layout

block content
  +renderTitle('Colors')

  +renderSection('Theme colors')
    include:exampleCode text-and-background-colors/theme-colors.html

  +renderSection('Common colors')
    include:exampleCode text-and-background-colors/common-colors.html
