docs-title(title="Lists")

u-card(variant="outlined")
  u-list(slot="before-content")
    u-list-item Item A
      span(slot="supporting-text") Supporting text
      span(slot="trailing") A
    u-switch-list-item Item B
      span(slot="supporting-text") Supporting text
    u-list-item Item C
    u-list-item Item D
    u-list-item(selectable)
      span.material-symbols-outlined(slot="leading") palette
      span Item D
      u-icon-button(
        slot="trailing",
        disabled)
        span.material-symbols-outlined palette
      span.material-symbols-outlined(slot="trailing") palette
