@use "../scss/variables";
@use "../scss/functions";
@use "../scss/mixins";

:host {
  display: block;
  background-color: var(--u-top-app-bar-bg-color, var(--u-color-body, #{functions.get-color-var(surface)}));
  color: var(--u-top-app-bar-text-color, #{functions.get-color-var(on-surface)});
  transition: background-color 100ms, inset 375ms variables.$awesome-cubic-bezier;
}

:host([container-scrolled]) {
  background-color: var(--u-top-app-bar-elevated-bg-color, #{functions.get-color-var(surface-container)});
}

:host(:not([has-leading-icon])) .leading-icon {
  display: none;
}

:host(:not([has-trailing-icon])) .trailing-icon {
  display: none;
}

slot[name="leading-icon"],
slot[name="trailing-icon"] {
  display: inline-flex;
  align-items: center;
  gap: var(--u-top-app-bar-icons-gap, 8px);
}

slot[name="leading-icon"]::slotted(u-icon-button) {
  color: inherit;
}

:host([position=absolute]) .content {
  position: absolute;
}

:host([position=fixed]) .content {
  position: fixed;
  inset-inline: 0;
  inset-block-start: 0;
  inset-inline-start: var(--u-app-bar-offset, 0);
}

:host([position=absolute]),
:host([position=fixed]) {
  padding-top: var(--_content-height);

  .content {
    z-index: var(--u-fixed-app-bar-z-index, 1010);
  }
}

.content {
  display: flex;
  align-items: center;
  background-color: inherit;
  transition: inherit;
  min-height: var(--u-top-app-bar-min-height, 56px);

  @include mixins.media-breakpoint-up(md) {
    min-height: var(--u-top-app-bar-extended-min-height, 64px);
  }
}

.headline {
  @include mixins.typo(title-l, top-app-bar-headline);
  margin-inline: var(--u-headline-margin, 16px);
}

.leading-icon {
  margin-inline: var(--u-leading-icon-margin, 8px);

  + .headline {
    margin-inline-start: 0;
  }
}

.trailing-icon {
  padding-inline: var(--u-trailing-icon-margin, 8px);
  margin-inline-start: auto;
}
