h5.u-headline-m.article-title
  a([href]="anchorHash") {{sectionTitle}}

.description
  ng-content

.u-grid(*ngIf="_html")
  .example(
    #example,
    slot="before-content",
    [innerHTML]="htmlSafe")

  u-card(variant="outlined")
    pre(slot="after-content")
      code([highlight]="_html!" language="html")
