h5.u-headline-m.article-title
  a([href]="anchorHash") {{sectionTitle}}

.example(
  #example,
  slot="before-content",
  [innerHTML]="_htmlSafe")

u-card(variant="outlined")
  pre(slot="after-content")
    code([highlight]="_html" language="html")
