h5.u-headline-m.article-title
  a([href]="anchorHash") {{sectionTitle}}

.description
  ng-content

.u-column(*ngIf="_html")
  .example(
    *ngIf="renderExample",
    #example,
    slot="before-content",
    [innerHTML]="htmlSafe")
  ng-content(select="[example]")

  u-card(variant="outlined")
    pre(slot="after-content")
      code([highlight]="_html!" language="html")
