docs-title(title="Progress")

docs-example(
  sectionTitle="Determinate",
  [html]="determinateHtml")

docs-example(
  sectionTitle="Indeterminate",
  [html]="indeterminateHtml")

docs-example(
  sectionTitle="Circular progress",
  [html]="circularProgressHtml")
