$n: 0.18418651851244416;
$aw: 29.98099719444734;
$nbb: 1.0169191804458757;
$ncb: 1.0169191804458757;
$c: 0.69;
$nc: 1;
$rgbD: (1.02117770275752, 0.9863077294280124, 0.9339605082802299);
$fl: 0.3884814537800353;
$fLRoot: 0.7894826179304937;
$z: 1.909169568483652;
