extends ../layout

block content
  h4.u-display-m.chapter-title Typography

  u-card.example-card(variant="outlined")
    u-card-content
      include typography/example.html
    u-card-content.example-card-code
      pre
        code.language-html

