@use '../scss/functions';
@use '../scss/mixins';

:host {
  display: block;
  --_menu-item-icon-size: var(--u-menu-item-icon-size, 1.5rem);
  --_menu-item-padding: var(--u-menu-item-padding, 12px);
  --u-focus-ring-outline-offset: -4px;

  height: var(--u-menu-item-height, 56px);
  padding-inline: var(--_menu-item-padding);
  color: var(--u-menu-item-label-color, #{functions.get-color-var(on-surface)});
  @include mixins.typo(label-l, menu-item-label);
}

:host(:not([has-leading-icon])) .leading {
  display: none;
}

:host(:not([has-trailing-icon])) .trailing:has(slot[name=trailing-icon] span:empty) {
  display: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--_menu-item-icon-size);
  height: var(--_menu-item-icon-size);
  font-size: var(--_menu-item-icon-size);
  color: var(--u-menu-item-label-color, #{functions.get-color-var(on-surface-variant)});
}

.content {
  justify-content: flex-start;
  gap: var(--u-menu-item-icon-margin, 12px);
}

:host(.force-focus-ring) .button,
.button:focus-visible {
  border-radius: #{functions.get-spacing-var(small)};
}

.label {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
