@use '../scss/functions';
@use '../scss/mixins';

@import "../shared/button-wrapper.styles";

:host {
  display: block;
  --_menu-item-icon-size: var(--u-menu-item-icon-size, 1.125rem);
  --_menu-item-padding: var(--u-menu-item-padding, 12px);

  height: var(--u-menu-item-height, 56px);
  padding-inline: var(--_menu-item-padding);
  color: var(--u-menu-item-label-color, #{functions.get-color-var(on-surface)});
  @include mixins.typo(label-l, menu-item-label);
}

:host(:not([has-icon])) .icon {
  display: none;
}

.icon {
  font-size: var(--_menu-item-icon-size);
  line-height: var(--_menu-item-icon-size);
  margin-inline-end: var(--u-menu-item-icon-margin, 12px);
  color: var(--u-menu-item-label-color, #{functions.get-color-var(on-surface-variant)});
}

.content {
  justify-content: flex-start;
}

.button:focus-visible {
  outline-offset: -4px;
  border-radius: #{functions.get-spacing-var(extra-small)};
}
