@use "../scss/functions";

:host {
  display: block;
  position: relative;
  border-radius: var(--u-card-shape-corner, #{functions.get-shape-corner-var(medium)});
}

:host([variant=elevated]) {
  --u-current-bg-color: var(--u-card-elevated-bg-color, #{functions.get-color-var(surface-container-low)});
  background-color: var(--u-current-bg-color);

  u-elevation {
    --u-elevation-level: var(--u-elevated-card-elevation-level, 1);
  }
}

:host([variant=filled]) {
  --u-current-bg-color: var(--u-card-filled-bg-color, #{functions.get-color-var(surface-container-highest)});
  background-color: var(--u-current-bg-color);
}

:host([variant=outlined]) {
  --u-current-bg-color: var(--u-card-outlined-bg-color, #{functions.get-color-var(surface)});
  background-color: var(--u-current-bg-color);
  border: var(--u-outlined-card-outline-width, 1px) solid var(--u-outlined-card-outline-color, #{functions.get-color-var(outline-variant)});
}

u-card-content,
slot {
  border-radius: inherit;
}
