@import "../utils";

:host {
  display: block;
  position: relative;
  border-radius: var(--u-card-shape-corner, #{get-shaper-corner-var(medium)});
}

:host(:not(:first-child)) {
  margin-top: 8px;
}

:host([variant=elevated]) {
  background-color: #{get-color-var(surface-container-low)};
  --u-elevation-level: var(--u-elevated-card-elevation-level, 1);
}

:host([variant=filled]) {
  background-color: #{get-color-var(surface-container-highest)};
}

:host([variant=outlined]) {
  border: var(--u-outlined-card-outline-width, 1px) solid var(--u-outlined-card-outline-color, #{get-color-var(outline-variant)});
}
