docs-title(title="Dividers") Dividers are thin lines that group content in lists or other containers

docs-example(
  sectionTitle="Usage",
  [html]="usageHtml")
  markdown Create an element with `.u-divider` to group content. The default divider class has a small margin.

docs-example(
  sectionTitle="No margin",
  [html]="noMarginHtml")
  markdown Use `.u-divider-no-margin` if you don't need the margin.

docs-example(
  sectionTitle="CSS")
  h4.u-title-m Variables
  u-card.api-card(variant="outlined")
    table.u-table(slot="before-content")
      thead
        tr
          th Variable
          th Default
      tbody
        tr
          td
            code --u-divider-thickness
          td
            code 1px
        tr
          td
            code --u-divider-opacity
          td
            code .4
        tr
          td
            code --u-divider-color
          td
            code --u-current-text-color
