docs-title(title="Grid") Grids are used to add gutter to your content

docs-example(
  sectionTitle="Overview",
  [html]="overviewHtml")
  markdown Universal Material uses the new [CSS Grid](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout) to add spacing between columns inside a grid.
    | &nbsp;Currently it has one column by default and it can be customized with `--u-grid-columns`.
    | &nbsp;Also, you can directly change the CSS property `grid-template-columns` to build a more complex grid.

docs-example(
  sectionTitle="CSS")
  h4.u-title-m Variables
  u-card.api-card(variant="outlined")
    table.u-table(slot="before-content")
      thead
        tr
          th Variable
          th Default
      tbody
        tr
          td
            code --u-grid-columns
          td
            code 1
        tr
          td
            code --u-layout-gutter-default
          td
            code --u-spacing-medium
            span &nbsp;(compact),&nbsp;
            code --u-spacing-large
            span &nbsp;(expanded).
        tr
          td
            code --u-layout-gutter
          td
            code --u-layout-gutter-default
        tr
          td
            code --u-layout-gutter-inline
          td
            code --u-layout-gutter
        tr
          td
            code --u-layout-gutter-block
          td
            code --u-layout-gutter
