@use "sass:list";
@use "sass:map";
@use "sass:string";

@use "../variables";
@import "../mixins/text-bg";

@each $weight, $value in variables.$font-weights {
  .u-font-weight-#{$weight} {
    font-weight: var(--u-font-weight-#{$weight}) !important;
  }
}


@each $color in list.join(variables.$color-roles, variables.$on-color-roles) {

  .u-text-#{$color} {
    @include _current-color-vars-important(var(--u-color-#{$color}-rgb));
    color: var(--u-high-emphasis-color) !important;
  }
}

@each $color-name, $_ in variables.$static-colors {

  .u-text-#{$color-name} {
    @include _current-color-vars-important(var(--u-color-#{$color-name}-rgb));
    color: var(--u-high-emphasis-color) !important;
  }
}

.u-text-inverse-mode {
  --u-high-emphasis-color: rgba(var(--u-color-on-inverse-background-rgb), var(--u-high-emphasis-opacity)) !important;
  --u-low-emphasis-color: rgba(var(--u-color-on-inverse-background-rgb), var(--u-low-emphasis-opacity)) !important;
  --u-lower-emphasis-color: rgba(var(--u-color-on-inverse-background-rgb), var(--u-lower-emphasis-opacity)) !important;
  color: var(--u-high-emphasis-color) !important;
}

.u-text-high-emphasis {
  color: var(--u-high-emphasis-color) !important;
}

.u-text-low-emphasis {
  color: var(--u-low-emphasis-color) !important;
}

.u-text-lower-emphasis {
  color: var(--u-lower-emphasis-color) !important;
}
