h5.u-headline-m.article-title API

u-card.api-card(variant="outlined")
  table.u-data-table(slot="before-content")
    thead
      tr
        th Property
        th Attribute
        th Type
        th Default
        th Description
    tbody
      ng-container(*ngFor="let property of properties")
        tr
          td
            code(*ngIf="!!property.name?.trim()") {{property.name}}
          td
            code(*ngIf="!!property.attribute?.trim()") {{property.attribute}}
          td
            code {{property.type}}
          td
            code(*ngIf="!!property.default?.trim()") {{property.default}}
          td.api-description-cell
            markdown {{property.description}}

