@use "../scss/functions";

:host,
* {
  --_focus-ring-outline-offset: var(--u-focus-ring-outline-offset, 2px);
  font-family: #{functions.get-font-family-var()};
  box-sizing: border-box;
  outline: 0;
}

:host(.force-focus-ring) .focus-ring,
.focus-ring:focus-visible {
  --_color-primary: #{functions.get-color-var(primary)};
  animation: u-focus-pulse 500ms ease;
  animation-fill-mode: forwards;
  outline-offset: var(--_focus-ring-outline-offset);
}

@keyframes u-focus-pulse {
  0% {
    outline: 0 solid var(--_color-primary);
  }
  50% {
    outline: 6px solid var(--_color-primary);
  }
  100% {
    outline: 4px solid var(--_color-primary);
  }
}
