@use '../scss/functions';

:host {
  --_color-primary: #{functions.get-color-var(primary)};

  -webkit-tap-highlight-color: transparent;
  --u-elevation-level: 0;

  position: relative;
  display: inline-block;
  font-family: #{functions.get-font-family-var()};
  appearance: none !important;
}

:host([disabled]) {
  --u-elevation-level: 0 !important;
  background-color: var(--u-button-disabled-bg-color, #{functions.get-color-transparency-mix(functions.get-color-var(on-surface), var(--u-button-disabled-background-opacity, 12%))}) !important;
  color: var(--u-button-disabled-text-color, #{functions.get-color-transparency-mix(functions.get-color-var(on-surface), var(--u-button-disabled-opacity, 38%))}) !important;
}

:host([disabled]) .button {
  cursor: default;
}

* {
  color: inherit;
}

u-elevation {
  z-index: -1;
}

.button {
  cursor: pointer;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  border-radius: inherit;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  background: transparent;
  user-select: none;
  text-decoration: none;
  outline: 0;
  z-index: 0;
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

