@use "../scss/api";

.prefix,
.suffix {

  &::slotted(*),
  span {
    transition: opacity 150ms 100ms;
  }

  span:empty {
    display: none;
  }
}

.prefix::slotted(*),
.prefix span {
  color: var(--u-field-prefix-color, var(--u-field-affix-color, #{api.get-color-var(on-surface-variant)}));
  margin-inline-end: var(--u-prefix-margin, var(--u-affix-margin, 2px));
}

.suffix::slotted(*),
.suffix span {
  color: var(--u-field-suffix-color, var(--u-field-affix-color, #{api.get-color-var(on-surface-variant)}));
  margin-inline-start: var(--u-suffix-margin, var(--u-affix-margin, 2px));
}

:host([disabled]) {
  .prefix {
    span,
    &::slotted(*) {
      color: var(--u-text-field-prefix-color, var(--u-text-field-affix-color, #{api.get-color-transparency-mix(api.get-color-var(on-surface), var(--u-field-disabled-opacity, 38%))}));
    }
  }

  .suffix {
    span,
    &::slotted(*) {
      color: var(--u-text-field-suffix-color, var(--u-text-field-affix-color, #{api.get-color-transparency-mix(api.get-color-var(on-surface), var(--u-field-disabled-opacity, 38%))}));
    }
  }
}

:host([empty]:not(:focus-within)) {
  .container:not(.no-label) {
    .suffix,
    .prefix {
      &::slotted(*),
      span {
        opacity: 0;
        transition: opacity 150ms;
      }
    }
  }
}
