@use "../api";
@use "../mixins";

.u-container-fluid,
.u-container {
  padding-inline: var(--u-layout-margin-inline, var(--u-layout-margin));
  padding-block: var(--u-layout-margin-block, var(--u-layout-margin));
}

.u-container {
  max-width: var(--u-container-width, 992px);
  margin-inline: auto;
}
