docs-title(title="Menus")

docs-example(
  sectionTitle="Down",
  [html]="downHtml")

div(style="display: flex; flex-direction: column; align-items: center;")
  u-button-set
    u-button((click)="changeDirection()") Switch direction
    u-button((click)="changeAnchor()") Change corner
  .anchor(#anchor)
    span Direction: {{direction}}
    span Corner: {{anchorCorner}}

  u-button((click)="menu.toggle()") Toggle menu
u-menu(
  #menu,
  [direction]="direction",
  [anchorCorner]="anchorCorner",
  [anchorElement]="anchor")
  u-menu-item
    span.material-symbols-outlined(slot="icon") brightness_4
    span System
  u-menu-item
    span.material-symbols-outlined(slot="icon") light_mode
    span Light Mode
  u-menu-item
    span.material-symbols-outlined(slot="icon") dark_mode
    span Dark Mode
  u-menu-item
    span.material-symbols-outlined(slot="icon") dark_mode
    span Dark Mode
  u-menu-item
    span.material-symbols-outlined(slot="icon") dark_mode
    span Dark Mode
  u-menu-item
    span.material-symbols-outlined(slot="icon") dark_mode
    span Dark Mode
  u-menu-item
    span.material-symbols-outlined(slot="icon") dark_mode
    span Dark Mode

docs-apis-table(key="menu")
