docs-title(title="Floating action button")

docs-example(
  sectionTitle="Sizes",
  [html]="sizesHtml")

docs-example(
  sectionTitle="Colors",
  [html]="colorsHtml")

docs-example(
  sectionTitle="Extended",
  [html]="extendedHtml")

docs-example(
  sectionTitle="Lowered",
  [html]="loweredHtml")

//docs-example(
//  sectionTitle="Floating action area",
//  [html]="floatingActionAreaHtml")
//
//docs-example(
//  sectionTitle="Floating menu",
//  [html]="floatingMenuHtml")

docs-apis-table(key="fab")
