docs-title(title="Selection controls")

docs-example(
  sectionTitle="Checkbox",
  [html]="checkboxHtml")

docs-example(
  sectionTitle="Radio",
  [html]="radioHtml")

docs-example(
  sectionTitle="Switch",
  [html]="switchHtml")
