@use "../scss/api";

u-chip {
  flex-basis: 0;
}

.input {
  display: flex;
  gap: var(--u-chip-field-chips-gap, #{api.get-spacing-var(extra-small)});
  flex-wrap: wrap;

  &:has(u-chip) {
    margin-top: var(--u-chip-field-chips-margin, #{api.get-spacing-var(extra-small)});
  }

  input {
    width: auto;
    flex: 1;
    flex-basis: 200px;
    padding: 4px 0;
    margin-block: -4px;
  }
}
