extends ../_layout

block content
  +renderTitle('Cards')

  +renderSection('Variants')
    include:exampleCode cards/simple-card.html

  +renderSection('Card with actions')
    include:exampleCode cards/card-with-actions.html

  +renderSection('Card media')
    include:exampleCode cards/card-media.html

  +renderApiSection(apis.card)
