extends ../layout

block content
  h4.u-headline4.chapter-title Chips

  h5.u-headline5.article-title Default chip
  u-card.example-card(variant="outlined")
    u-card-content
      include chips/default-chips.html

    u-card-content.example-card-code
      pre
        code.language-html

  h5.u-headline5.article-title Elevated chip
  u-card.example-card(variant="outlined")
    u-card-content
      include chips/elevated-chips.html

    u-card-content.example-card-code
      pre
        code.language-html

  h5.u-headline5.article-title Selected chip
  u-card.example-card(variant="outlined")
    u-card-content
      include chips/selected-chips.html

    u-card-content.example-card-code
      pre
        code.language-html

  h5.u-headline5.article-title Chip input
  u-card.example-card(variant="outlined")
    u-card-content
      include chips/chip-input.html

    u-card-content.example-card-code
      pre
        code.language-html
