extends ../_layout

block content
  +renderTitle('Chips')

  +renderSection('Default chip')
    include:exampleCode chips/default-chips.html

  +renderSection('Elevated chip')
    include:exampleCode chips/elevated-chips.html

  +renderSection('Selected chip')
    include:exampleCode chips/selected-chips.html

  +renderSection('Chip input')
    include:exampleCode chips/chip-input.html
