extends ../_layout

block content

  +renderTitle('Common buttons')

  +renderSection('Variants')
    include:exampleCode common-buttons/buttons-variants.html

  +renderSection('Anchor buttons')
    include:exampleCode common-buttons/anchor-buttons.html

  +renderSection('Icons')
    include:exampleCode common-buttons/buttons-icons.html

  +renderSection('Trailing icons')
    include:exampleCode common-buttons/buttons-trailing-icons.html

  +renderApiSection(apis.button)
