extends ../_layout

block content
  +renderTitle('Data tables')

  +renderSection('Simple tables')
    include:exampleCode data-tables/simple-table.html
  //
  //h5.u-headline5.article-title Table header
  //u-card.example-card(variant="outlined")
  //  include:exampleCode data-tables/table-header.html
  //
  //h5.u-headline5.article-title Table footer
  //u-card.example-card(variant="outlined")
  //  include:exampleCode data-tables/table-footer.html
