extends ../_layout

block content
  +renderTitle('Datepicker')

  .u-datepicker
    .u-datepicker-header
      .u-datepicker-header-title Select date
      .u-datepicker-header-date sex, 21 de mai
    .u-datepicker-body
      .u-datepicker-navigation
        button.mr-auto.u-text-btn(type='button') Jun 2019
          i.u-btn-icon.u-btn-icon-end.u-dropdown-toggle-icon
        button.u-icon-btn(type='button')
          i.u-btn-icon.mdi.mdi-chevron-left
        button.u-icon-btn(type='button')
          i.u-btn-icon.mdi.mdi-chevron-right
      .u-datepicker-content
        .u-datepicker-weekdays
          span.u-datepicker-weekday S
          span.u-datepicker-weekday M
          span.u-datepicker-weekday T
          span.u-datepicker-weekday W
          span.u-datepicker-weekday T
          span.u-datepicker-weekday F
          span.u-datepicker-weekday S

        .u-datepicker-week
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 26
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 27
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 28
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 29
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 30
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 31
          button.u-datepicker-day(type='button') 1
        .u-datepicker-week
          button.u-datepicker-day(type='button') 2
          button.u-datepicker-day(type='button') 3
          button.u-datepicker-day(type='button') 4
          button.u-datepicker-day(type='button') 5
          button.u-datepicker-day(type='button') 6
          button.u-datepicker-day(type='button') 7
          button.u-datepicker-day(type='button') 8
        .u-datepicker-week
          button.u-datepicker-day(type='button') 9
          button.u-datepicker-day(type='button') 10
          button.u-datepicker-day(type='button') 11
          button.u-datepicker-day(type='button') 12
          button.u-datepicker-day(type='button') 13
          button.u-datepicker-day(type='button') 14
          button.u-datepicker-day(type='button') 15
        .u-datepicker-week
          button.u-datepicker-day(type='button') 16
          button.u-datepicker-day(type='button') 17
          button.u-datepicker-day(type='button') 18
          button.u-datepicker-day(type='button') 19
          button.u-datepicker-day(type='button') 20
          button.u-datepicker-day(type='button') 21
          button.u-datepicker-day.u-datepicker-current-day(type='button') 22
        .u-datepicker-week
          button.u-datepicker-day(type='button') 23
          button.u-datepicker-day(type='button') 24
          button.u-datepicker-day(type='button') 25
          button.u-datepicker-day(type='button') 26
          button.u-datepicker-day(type='button') 27
          button.u-datepicker-day(type='button') 28
          button.u-datepicker-day(type='button') 29
        .u-datepicker-week
          button.u-datepicker-day(type='button') 30
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 1
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 2
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 3
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 4
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 5
          button.u-datepicker-day.u-datepicker-day-outside-month(type='button') 6
  .u-datepicker
    .u-datepicker-navigation
      button.u-text-btn(type='button') 2019
      button.u-icon-btn(type='button')
        i.u-btn-icon.mdi.mdi-chevron-left
      button.u-icon-btn(type='button')
        i.u-btn-icon.mdi.mdi-chevron-right
    .u-datepicker-content
      .u-datepicker-year-group
        .u-datepicker-year-month-button 1969
        .u-datepicker-year-month-button 1970
        .u-datepicker-year-month-button 1971
        .u-datepicker-year-month-button 1972
      .u-datepicker-year-group
        .u-datepicker-year-month-button 1973
        .u-datepicker-year-month-button 1974
        .u-datepicker-year-month-button 1975
        .u-datepicker-year-month-button 1976
      .u-datepicker-year-group
        .u-datepicker-year-month-button 1977
        .u-datepicker-year-month-button 1978
        .u-datepicker-year-month-button 1979
        .u-datepicker-year-month-button 1980
      .u-datepicker-year-group
        .u-datepicker-year-month-button 1981
        .u-datepicker-year-month-button 1982
        .u-datepicker-year-month-button 1983
        .u-datepicker-year-month-button 1984
      .u-datepicker-year-group
        .u-datepicker-year-month-button 1985
        .u-datepicker-year-month-button 1986
        .u-datepicker-year-month-button 1987
        .u-datepicker-year-month-button 1988
      .u-datepicker-year-group
        .u-datepicker-year-month-button 1989
        .u-datepicker-year-month-button 1990
        .u-datepicker-year-month-button 1991
        .u-datepicker-year-month-button 1992
  .u-datepicker
    .u-datepicker-navigation
      button.u-text-btn(type='button') 2019
    .u-datepicker-content
      .u-datepicker-month-group
        .u-datepicker-year-month-button JAN
        .u-datepicker-year-month-button FEB
        .u-datepicker-year-month-button MAR
        .u-datepicker-year-month-button APR
      .u-datepicker-month-group
        .u-datepicker-year-month-button MAY
        .u-datepicker-year-month-button.active JUN
        .u-datepicker-year-month-button JUL
        .u-datepicker-year-month-button AUG
      .u-datepicker-month-group
        .u-datepicker-year-month-button SEP
        .u-datepicker-year-month-button OCT
        .u-datepicker-year-month-button NOV
        .u-datepicker-year-month-button DEC

