extends ../_layout

block content
  +renderTitle('Dialogs')

  +renderSection('Simple card')
    include:exampleCode dialogs/example.html

block scripts
  script.
    (function () {
      var dialog = umd.Dialog.attach(document.querySelector(".u-dialog"));

      document.querySelector(".u-dialog-backdrop").addEventListener("click", function () { dialog.toggle() });
      var buttons = document.querySelectorAll("button");
      buttons.forEach(function (button) {
        button.addEventListener("click", function () { dialog.toggle() });
      });
    })();
