extends ../_layout

block content

  +renderTitle('Dividers')

  +renderSection('Usage')
    include:exampleCode dividers/usage.html

  +renderSection('No margin')
    include:exampleCode dividers/no-margin.html

  +renderApiSection(apis.divider)
