extends ../layout

block content
  .u-container
    h4.u-headline4.chapter-title Expansion panel

  div
    .u-expansion-panel
      .u-expansion-panel-header
        .u-expansion-panel-label Personal data
        .u-expansion-panel-label Type your name and age
        .u-expansion-toggle-icon
          i.u-chevron-down
      .u-expansion-panel-content
        div dummy content

    .u-expansion-panel.expanded
      .u-expansion-panel-header
        .u-expansion-panel-label Self aware panel
        .u-expansion-panel-label Currently I am opened
        .u-expansion-toggle-icon
          i.u-chevron-down
      .u-expansion-panel-content
        .u-body1 I'm visible because I am open

    .u-expansion-panel
      .u-expansion-panel-header
        .u-expansion-panel-label Self aware panel
        .u-expansion-panel-label Currently I am closed
        .u-expansion-toggle-icon
          i.u-chevron-down
      .u-expansion-panel-content
        div dummy content
