extends ../_layout

block content
  .u-container
    +renderTitle('Floating action button')

    +renderSection('Sizes')
      include:exampleCode fab/button-sizes.html

    +renderSection('Colors')
      include:exampleCode fab/button-colors.html

    +renderSection('Extended')
      include:exampleCode fab/extended-buttons.html

    +renderSection('Lowered')
      include:exampleCode fab/lowered-buttons.html

    +renderSection('Floating action area')
      include:exampleCode fab/floating-action-area.html

    +renderSection('Floating menu')
      include:exampleCode fab/floating-menu.html

    +renderApiSection(apis.fabButton)
