extends ../_layout

block content
  +renderTitle('Icon buttons')

  +renderSection('Variants')
    include:exampleCode icon-buttons/buttons-variants.html

  +renderSection('Anchor buttons')
    include:exampleCode icon-buttons/anchor-buttons.html

  +renderSection('Toggles')
    include:exampleCode icon-buttons/toggle-buttons.html

  +renderSection('Toggles (manual)')
    include:exampleCode icon-buttons/toggle-buttons-manual.html

  +renderApiSection(apis.iconButton)
