extends ../_layout

block content
  +renderTitle('Lists')
  +renderSection('Simple list')
    u-card-content.list-example-box-header
      include lists/simple-list.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List dividers')
    u-card-content.list-example-box-header
      include lists/list-dividers.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List custom divider')
    u-card-content.list-example-box-header
      include lists/list-custom-dividers.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List hover')
    u-card-content.list-example-box-header
      include lists/list-hover.html
    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List with two lines')
    u-card-content.list-example-box-header
      include lists/list-two-lines.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List with three lines')
    u-card-content.list-example-box-header
      include lists/list-three-lines.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List with dynamic content')
    u-card-content.list-example-box-header
      include lists/list-dynamic.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List avatar')
    u-card-content.list-example-box-header
      include lists/list-avatars.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List icons')
    u-card-content.list-example-box-header
      include lists/list-icons.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List with activated item')
    u-card-content.list-example-box-header
      include lists/list-with-activated-item.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List with action')
    u-card-content.list-example-box-header
      include lists/list-with-action.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List sections')
    u-card-content.list-example-box-header
      include lists/list-sections.html

    u-card-content.example-card-code
      pre
        code.language-html
  +renderSection('List indexed')
    u-card-content.list-example-box-header.limited-height
      include lists/list-indexed.html

    u-card-content.example-card-code
      pre
        code.language-html
