extends ../layout

block content
  h4.u-headline4.chapter-title Menus

  .menu-example
    h5.u-headline5.article-title Down
    u-card.example-card(variant="outlined")
      u-card-content
        include dropdown-menus/down.html
      u-card-content.example-card-code
        pre
          code.language-html

    h5.u-headline5.article-title Down left
    u-card.example-card(variant="outlined")
      u-card-content
        include dropdown-menus/down-left.html
      u-card-content.example-card-code
        pre
          code.language-html

    h5.u-headline5.article-title Down right
    u-card.example-card(variant="outlined")
      u-card-content
        include dropdown-menus/down-right.html
      u-card-content.example-card-code
        pre
          code.language-html

    h5.u-headline5.article-title Down start
    u-card.example-card(variant="outlined")
      u-card-content
        include dropdown-menus/down-start.html
      u-card-content.example-card-code
        pre
          code.language-html

    h5.u-headline5.article-title Down end
    u-card.example-card(variant="outlined")
      u-card-content
        include dropdown-menus/down-end.html
      u-card-content.example-card-code
        pre
          code.language-html

    h5.u-headline5.article-title Up
    u-card.example-card(variant="outlined")
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up.html
      u-card-content.example-card-code
        pre
          code.language-html

    h5.u-headline5.article-title Up left
    u-card.example-card(variant="outlined")
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up-left.html
      u-card-content.example-card-code
        pre
          code.language-html

    h5.u-headline5.article-title Up right
    u-card.example-card(variant="outlined")
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up-right.html
      u-card-content.example-card-code
        pre
          code.language-html

    h5.u-headline5.article-title Up start
    u-card.example-card(variant="outlined")
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up-start.html
      u-card-content.example-card-code
        pre
          code.language-html

    h5.u-headline5.article-title Up end
    u-card.example-card(variant="outlined")
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up-end.html
      u-card-content.example-card-code
        pre
          code.language-html
