extends ../_layout

block content
  +renderTitle('Menus')

  .menu-example
    +renderSection('Down')
      include:exampleCode dropdown-menus/down.html

    +renderSection('Down left')
      include:exampleCode dropdown-menus/down-left.html

    +renderSection('Down right')
      include:exampleCode dropdown-menus/down-right.html

    +renderSection('Down start')
      include:exampleCode dropdown-menus/down-start.html

    +renderSection('Down end')
      include:exampleCode dropdown-menus/down-end.html

    +renderSection('Up')
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up.html
      u-card-content.example-card-code
        pre
          code.language-html

    +renderSection('Up left')
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up-left.html
      u-card-content.example-card-code
        pre
          code.language-html

    +renderSection('Up right')
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up-right.html
      u-card-content.example-card-code
        pre
          code.language-html

    +renderSection('Up start')
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up-start.html
      u-card-content.example-card-code
        pre
          code.language-html

    +renderSection('Up end')
      u-card-content.d-flex.align-items-end
        include dropdown-menus/up-end.html
      u-card-content.example-card-code
        pre
          code.language-html
