extends ../_layout

block content
  +renderTitle('Progress')

  +renderSection('Determinate')
    include:exampleCode progress/determinate-progress.html

  +renderSection('Indeterminate')
    include:exampleCode progress/indeterminate-progress.html

  h5.u-headline5.article-title Changing color
  p Just set progress color and the magic is done
  u-card.example-card(variant="outlined")
    include:exampleCode progress/progress-color.html

  +renderSection('Circular progress')
    include:exampleCode progress/circular-progress.html
