extends ../_layout

block content
  +renderTitle('Selection controls')

  +renderSection('Checkbox')
    include:exampleCode selection-controls/checkbox.html

  +renderSection('Radio')
    include:exampleCode selection-controls/radio-button.html

  +renderSection('Switch')
    include:exampleCode selection-controls/switch.html
