extends ../layout

block content
  h4.u-headline4.chapter-title Sliders

  h5.u-headline5.article-title Slider
  u-card.example-card(variant="outlined")
    u-card-content
      include sliders/example.html
    u-card-content.example-card-code
      pre
        code.language-html
