extends ../_layout

block content
  +renderTitle('Snackbars')

  +renderSection('Example')
    include:exampleCode snackbar/example.html
block scripts
  script.
    function showSnackbar() {

      const text = document.getElementById('snackbarText').value;
      const buttonText = document.getElementById('snackbarButtonText').value;

      umd.Snackbar.show(text, umd.SnackbarDuration.long, buttonText ? {
        text: buttonText,
        action: function () {
          alert('Snackbar action!')
        }
      } : null);
    }
