u-drawer-item(
  (click)="open = !open",
  keep-drawer-open) {{label}}
  span.material-symbols-outlined(slot="badge") expand_more

.submenu-items([class.open]="open", [attr.inert]="open ? undefined : ''")
  ng-content
