@import "../utils";

:host {
  --_divider-thickness: var(--u-divider-thickness, 1px);
  display: block;
  margin-block: 8px;
  height: var(--_divider-thickness);
  background-color: var(--u-divider-color, #{get-color-var(outline-variant)});
}

:host([no-margin]) {
  margin: 0;
}
