@import "../shared/button-wrapper.styles";

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

::slotted([slot=icon]) {
  display: inline-block;
}
