:host {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: nowrap;
}

:host([alignment=start]) {
  justify-content: flex-start;
}

:host([alignment=center]) {
  justify-content: center;
}

:host([alignment=end]) {
  justify-content: flex-end;
}

:host([stack][alignment=start]) {
  align-items: flex-start;
}

:host([stack][alignment=center]) {
  align-items: center;
}

:host([stack][alignment=end]) {
  align-items: flex-end;
}

:host([stack]) {
  flex-direction: column;
  justify-content: flex-start;
}
