@import '../utils';

:host {
  --_color-primary: #{get-color-var(primary)};

  -webkit-tap-highlight-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;
  position: relative;
  white-space: nowrap;
  font-family: var(--u-font-family-base, system-ui);
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

:host([disabled]) {
  --u-elevation-level: 0 !important;
  background-color: var(--u-button-disabled-background-color, rgba(#{get-color-rgb-var(on-surface)}, .12)) !important;
  color: var(--u-button-disabled-text-color, rgba(#{get-color-rgb-var(on-surface)}, .38)) !important;
}

:host([disabled]) .button {
  cursor: default;
}

* {
  color: inherit;
}

u-elevation {
  z-index: -1;
}

.button {
  cursor: pointer;
  position: absolute;
  inset: 0;
  font-family: inherit;
  border-radius: inherit;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  background: transparent;
  user-select: none;
  text-decoration: none;
  outline: 0;
  z-index: 0;
}

.button:focus-visible {
  animation: offset-pulse 400ms ease;
  animation-fill-mode: forwards;
  outline-offset: 2px;
}

::slotted([slot=icon]) {
  display: inline-block;
}

@keyframes offset-pulse {
  0% {
    outline: 4px solid var(--_color-primary);
  }
  50% {
    outline: 8px solid var(--_color-primary);
  }
  100% {
    outline: 4px solid var(--_color-primary);
  }
}
