@use "../scss/functions";

:host {
  --u-common-button-line-height: var(--u-label-large-line-height, 1.25rem);
  --u-common-button-font-size: var(--u-label-large-font-size, .875rem);
  --u-common-button-font-weight: #{functions.get-font-weight-var(medium)};
  --_common-button-padding: var(--u-common-button-padding, 16px);

  --_extra-small-font-size: var(--u-common-button-extra-small-font-size, .875rem);
  --_small-font-size: var(--u-common-button-small-font-size, .875rem);
  --_medium-font-size: var(--u-common-button-medium-font-size, 1rem);
  --_large-font-size: var(--u-common-button-large-font-size, 1.5rem);
  --_extra-large-font-size: var(--u-common-button-extra-large-font-size, 2rem);

  --_extra-small-font-weight: var(--u-common-button-extra-small-font-weight, #{functions.get-font-weight-var(medium)});
  --_small-font-weight: var(--u-common-button-small-font-weight, #{functions.get-font-weight-var(medium)});
  --_medium-font-weight: var(--u-common-button-medium-font-weight, #{functions.get-font-weight-var(medium)});
  --_large-font-weight: var(--u-common-button-large-font-weight, #{functions.get-font-weight-var(regular)});
  --_extra-large-font-weight: var(--u-common-button-extra-large-font-weight, #{functions.get-font-weight-var(regular)});

  --_extra-small-size: var(--u-common-button-extra-small-height, 32px);
  --_small-size: var(--u-common-button-small-height, 40px);
  --_medium-size: var(--u-common-button-medium-height, 56px);
  --_large-size: var(--u-common-button-large-height, 96px);
  --_extra-large-size: var(--u-common-button-extra-large-height, 136px);

  --_extra-small-icon-size: var(--u-icon-button-extra-small-icon-size, 1.25rem);
  --_small-icon-size: var(--u-icon-button-small-icon-size, 1.25rem);
  --_medium-icon-size: var(--u-icon-button-medium-icon-size, 1.5rem);
  --_large-icon-size: var(--u-icon-button-large-icon-size, 2rem);
  --_extra-large-icon-size: var(--u-icon-button-extra-large-icon-size, 2.5rem);

  --_extra-small-icon-margin: var(--u-icon-button-extra-small-icon-margin, 8px);
  --_small-icon-margin: var(--u-icon-button-small-icon-margin, 8px);
  --_medium-icon-margin: var(--u-icon-button-medium-icon-margin, 8px);
  --_large-icon-margin: var(--u-icon-button-large-icon-margin, 12px);
  --_extra-large-icon-margin: var(--u-icon-button-extra-large-icon-margin, 16px);

  --_extra-small-padding: var(--u-common-button-extra-small-padding, 12px);
  --_small-padding: var(--u-common-button-small-padding, 16px);
  --_medium-padding: var(--u-common-button-medium-padding, 24px);
  --_large-padding: var(--u-common-button-large-padding, 48px);
  --_extra-large-padding: var(--u-common-button-extra-large-padding, 64px);

  --_extra-small-square-shape-corner: var(--u-common-button-extra-small-square-shape-corner, 12px);
  --_small-square-shape-corner: var(--u-common-button-small-square-shape-corner, 12px);
  --_medium-square-shape-corner: var(--u-common-button-medium-square-shape-corner, 16px);
  --_large-square-shape-corner: var(--u-common-button-large-square-shape-corner, 28px);
  --_extra-large-square-shape-corner: var(--u-common-button-extra-large-square-shape-corner, 28px);

  --_extra-small-pressed-shape-corner: var(--u-common-button-extra-small-pressed-shape-corner, 8px);
  --_small-pressed-shape-corner: var(--u-common-button-small-pressed-shape-corner, 8px);
  --_medium-pressed-shape-corner: var(--u-common-button-medium-pressed-shape-corner, 12px);
  --_large-pressed-shape-corner: var(--u-common-button-large-pressed-shape-corner, 16px);
  --_extra-large-pressed-shape-corner: var(--u-common-button-extra-large-pressed-shape-corner, 16px);

  --_font-size: var(--_small-font-size);
  --_font-weight: var(--_small-font-weight);
  --_padding: var(--_small-padding);
  --_icon-margin: var(--_small-icon-margin);

  --_round-shape-corner: var(--u-common-button-round-shape-corner, calc(var(--_size) / 2));
}

@mixin button-filled-variant($color) {
  &.#{$color} {
    &,
    &.selected {
      background-color: var(--u-filled-button-#{$color}-container-color, #{functions.get-color-var($color)});
      color: var(--u-filled-button-#{$color}-text-color, #{functions.get-color-var(on-#{$color})});
    }
  }
}

.extra-small {
  --_font-size: var(--_extra-small-font-size);
  --_font-weight: var(--_extra-small-font-weight);
  --_padding: var(--_extra-small-padding);
  --_icon-margin: var(--_extra-small-icon-margin);
}

.medium {
  --_font-size: var(--_medium-font-size);
  --_font-weight: var(--_medium-font-weight);
  --_padding: var(--_medium-padding);
  --_icon-margin: var(--_medium-icon-margin);
}

.large {
  --_font-size: var(--_large-font-size);
  --_font-weight: var(--_large-font-weight);
  --_padding: var(--_large-padding);
  --_icon-margin: var(--_large-icon-margin);
}

.extra-large {
  --_font-size: var(--_extra-large-font-size);
  --_font-weight: var(--_extra-large-font-weight);
  --_padding: var(--_extra-large-padding);
  --_icon-margin: var(--_extra-large-icon-margin);
}

.container {
  font-family: #{functions.get-font-family-var()};
  font-size: var(--_font-size);
  font-weight: var(--_font-weight);
  padding-inline: var(--_padding);
  box-sizing: border-box;
}

.filled {
  @include button-filled-variant(primary);
  @include button-filled-variant(secondary);
  @include button-filled-variant(tertiary);
  @include button-filled-variant(error);

  &.toggle {
    background-color: var(--u-filled-button-container-unselected-color, #{functions.get-color-var(surface-container)});
    color: var(--u-filled-button-unselected-text-color, #{functions.get-color-var(on-surface-variant)});
  }
}

.tonal {
  background-color: var(--u-tonal-button-container-color, #{functions.get-color-var(secondary-container)});
  color: var(--u-tonal-button-text-color, #{functions.get-color-var(on-secondary-container)});

  &.selected {
    background-color: var(--u-tonal-button-container-selected-color, #{functions.get-color-var(secondary)});
    color: var(--u-tonal-button-text-selected-color, #{functions.get-color-var(on-secondary)});
  }
}

.elevated {
  background-color: var(--u-elevated-button-container-color, #{functions.get-color-var(surface-container-low)});
  color: var(--u-elevated-button-text-color, #{functions.get-color-var(primary)});

  &.selected {
    background-color: var(--u-elevated-button-container-selected-color, #{functions.get-color-var(primary)});
    color: var(--u-elevated-button-text-selected-color, #{functions.get-color-var(on-primary)});
  }
}

@media (hover: hover) {
  .filled,
  .tonal {
    &:hover:not(:focus-within):not(:active) {
      --u-elevation-level: var(--u-filled-button-hover-elevation-level, 1);
    }
  }
}

.text {
  color: var(--u-text-button-text-color, var(--_color-primary));
}

.outlined {
  color: var(--u-outlined-button-text-color, var(--u-text-button-text-color, var(--_color-primary)));
  border: 1px solid var(--u-outlined-button-outline-color, #{functions.get-color-var(outline)});

  &.selected {
    background-color: var(--u-outlined-button-container-selected-color, #{functions.get-color-var(inverse-surface)});
    color: var(--u-outlined-button-text-selected-color, #{functions.get-color-var(on-inverse-surface)});
  }

  &.disabled {
    border-color: var(--u-outlined-button-disabled-border-color, #{functions.get-color-transparency-mix(functions.get-color-var(on-surface), var(--u-outlined-button-disabled-border-opacity, 12%))}) !important;

    &:not(.selected) {
      background-color: transparent !important;
    }
  }
}

.elevated {
  --u-elevation-level: var(--u-elevated-button-elevation-level, 1);
  color: var(--u-elevated-button-text-color, var(--_color-primary));

  @media (hover: hover) {
    &:hover {
      --u-elevation-level: var(--u-elevated-button-hover-elevation-level, 2);
    }
  }
}

.container:not(.has-icon) .icon-container {
  display: none;
}

.content {
  gap: var(--_icon-margin);
}

.icon {
  font-size: var(--_icon-size);
}

.trailing-icon .content {
  flex-direction: row-reverse;
}

#label {
  display: inline-block;
}

.label {
  display: inline-block;
  inset-inline-start: 0;
  transition-duration: calc(var(--_morph-duration) * .7);
}

.label-container  {
  position: relative;

  &.animate {
    transition: width var(--_morph-duration) linear
  }
}

.label-default {
  opacity: 1;
  transition-delay: calc(var(--_morph-duration) / 2);
}

.label-selected {
  position: absolute;
  opacity: 0;
  transition-delay: 0ms;
}

.selected.has-selection-label {
  .label-default {
    position: absolute;
    opacity: 0;
    transition-delay: 0ms;
  }

  .label-selected {
    position: static;
    opacity: 1;
    transition-delay: calc(var(--_morph-duration) / 2);
  }
}
