@use "../scss/functions";

:host {
  --u-common-button-line-height: var(--u-label-large-line-height, 1.25rem);
  --u-common-button-font-size: var(--u-label-large-font-size, 0.875rem);
  --u-common-button-font-weight: #{functions.get-font-weight-var(medium)};
  --_common-button-height: var(--u-common-button-height, 2.5rem);
  --_common-button-padding: var(--u-common-button-padding, 24px);
  --_common-button-icon-size: var(--u-common-button-icon-size, 1.125rem);
  --_common-button-icon-padding: var(--u-common-button-icon-padding, 16px);
  --_common-button-icon-margin: var(--u-common-button-icon-margin, 8px);

  border-radius: var(--u-common-button-shape-corner, #{functions.get-shape-corner-var(full)});
  font-family: #{functions.get-font-family-var()};
  height: var(--u-common-button-height, 40px);
  font-size: var(--u-common-button-font-size);
  font-weight: var(--u-common-button-font-weight);
  padding-inline: var(--_common-button-padding);
  box-sizing: border-box;
}

:host([variant=filled]),
:host([variant=filled][color=primary]) {
  background-color: var(--u-filled-button-primary-container-color, var(--_color-primary));
  color: var(--u-filled-button-primary-text-color, #{functions.get-color-var(on-primary)});
}

:host([variant=filled][color=secondary]) {
  background-color: var(--u-filled-button-secondary-container-color, #{functions.get-color-var(secondary)});
  color: var(--u-filled-button-secondary-text-color, #{functions.get-color-var(on-secondary)});
}

:host([variant=filled][color=tertiary]) {
  background-color: var(--u-filled-button-tertiary-container-color, #{functions.get-color-var(tertiary)});
  color: var(--u-filled-button-tertiary-text-color, #{functions.get-color-var(on-tertiary)});
}

:host([variant=filled][color=error]) {
  background-color: var(--u-filled-button-error-container-color, #{functions.get-color-var(error)});
  color: var(--u-filled-button-error-text-color, #{functions.get-color-var(on-error)});
}

:host([variant=tonal]) {
  background-color: var(--u-tonal-button-background-color, #{functions.get-color-var(secondary-container)});
  color: var(--u-tonal-button-text-color, #{functions.get-color-var(on-secondary-container)});
}

:host([variant=elevated]) {
  background-color: var(--u-elevated-button-background-color, #{functions.get-color-var(surface-container-low)});
  color: var(--u-tonal-button-text-color, #{functions.get-color-var(on-secondary-container)});
}

@media (hover: hover) {
  :host([variant=filled]:hover:not(:focus-within):not(:active)),
  :host([variant=tonal]:hover:not(:focus-within):not(:active)) {
    --u-elevation-level: var(--u-filled-button-hover-elevation-level, 1);
  }
}

:host([variant=outlined]),
:host([variant=text]),
:host([variant=elevated]) {
  color: var(--_color-primary);
}

:host([variant=outlined]) {
  border: 1px solid #{functions.get-color-var(outline)};
}

:host([variant=elevated]) {
  --u-elevation-level: var(--u-elevated-button-elevation-level, 1);
}

@media (hover: hover) {
  :host([variant=elevated]:hover) {
    --u-elevation-level: var(--u-elevated-button-hover-elevation-level, 2);
  }
}

:host([has-icon]) {
  padding-inline: var(--_common-button-icon-padding) var(--_common-button-padding);
}

:host([has-icon][trailing-icon]) {
  padding-inline: var(--_common-button-padding) var(--_common-button-icon-padding);
}

:host(:not([has-icon])) .icon {
  display: none;
}

.icon {
  font-size: var(--_common-button-icon-size);
  padding-inline-end: var(--_common-button-icon-margin);
  margin-inline-end: auto;
}

:host([trailing-icon]) .icon {
  padding-inline: var(--_common-button-icon-margin) 0;
  margin-inline: auto 0;
}
