@use "../scss/functions";

.container {
  --u-elevation-level: var(--u-fab-elevation-level, 3);

  aspect-ratio: 1;

  @media (hover: hover) {
    &:hover:not(:focus-within):not(:active) {
      --u-elevation-level: var(--u-fab-hover-elevation-level, 4);
    }
  }
}

.lowered {
  --u-elevation-level: var(--u-fab-elevation-level, 1);

  @media (hover: hover) {

    &:hover:not(:focus-within):not(:active) {
      --u-elevation-level: var(--u-fab-elevation-level, 2);
    }
  }
}

.small {
  width: var(--u-fab-small-size, 40px);
  border-radius: var(--u-fab-small-shape-corner, #{functions.get-shape-corner-var(medium)});
}

.large {
  width: var(--u-fab-large-size, 96px);
  border-radius: var(--u-fab-large-shape-corner, #{functions.get-shape-corner-var(extra-large)});

  .icon {
    font-size: var(--u-fab-large-icon-size, 2rem);
  }
}

.extended,
.medium {
  width: var(--u-fab-medium-size, 56px);
  border-radius: var(--u-fab-medium-shape-corner, #{functions.get-shape-corner-var(large)});
}

.extended,
.small,
.medium {
  .icon {
    font-size: var(--u-fab-icon-size, 1.5rem);
  }
}

.extended {
  width: auto;
  height: var(--u-extended-fab-height, 56px);
  aspect-ratio: auto;
  min-width: var(--u-extended-fab-min-width, 80px);
  padding-inline: var(--u-extended-fab-padding, 16px 24px);

  .icon {
    margin-inline-end: var(--u-extended-fab-icon-margin, 12px);
  }
}

.primary {
  background-color: var(--u-fab-primary-container-color, #{functions.get-color-var(primary-container)});
  color: var(--u-fab-primary-text-color, #{functions.get-color-var(on-primary-container)});
}

.secondary {
  background-color: var(--u-fab-secondary-container-color, #{functions.get-color-var(secondary-container)});
  color: var(--u-fab-secondary-text-color, #{functions.get-color-var(on-secondary-container)});
}

.tertiary {
  background-color: var(--u-fab-tertiary-container-color, #{functions.get-color-var(tertiary-container)});
  color: var(--u-fab-tertiary-text-color, #{functions.get-color-var(on-tertiary-container)});
}

.branded,
.surface {
  background-color: var(--u-fab-surface-container-color, #{functions.get-color-var(surface-container-high)});
  color: var(--u-fab-surface-text-color, var(--_color-primary));

  &.lowered {
    background-color: var(--u-fab-surface-container-color, #{functions.get-color-var(surface-container-low)});
  }
}
