@use "../scss/functions";

:host {
  --_icon-button-size: var(--u-icon-button-size, 2.5rem);
  --_color-surface-container-highest: #{functions.get-color-var(surface-container-highest)};

  width: var(--_icon-button-size);
  height: var(--_icon-button-size);
  border-radius: var(--u-icon-button-shape-corner, 9999px);
  font-family: #{functions.get-font-family-var()};
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--u-icon-button-icon-size, 1.5rem);

  &.icon-selected {
    display: none;
  }
}

:host([selected][has-selection-icon]) {
  .icon:not(.icon-selected) {
    display: none;
  }

  .icon.icon-selected {
    display: inline-block;
  }
}

:host([variant="filled"]) {
  background-color: var(--u-filled-icon-button-unselected-background-color, var(--_color-surface-container-highest));
  color: var(--u-filled-icon-button-unselected-text-color, var(--_color-primary));
}

:host([variant="tonal"]) {
  background-color: var(--u-total-icon-button-unselected-background-color, var(--_color-surface-container-highest));
  color: var(--u-tonal-icon-button-unselected-text-color, #{functions.get-color-var(on-surface-variant)});
}

:host([selected][variant="filled"]),
:host([variant="filled"]:not([has-selection-icon])) {
  background-color: var(--u-filled-icon-button-background-color, var(--_color-primary));
  color: var(--u-filled-icon-button-text-color, #{functions.get-color-var(on-primary)});
}

:host([selected][variant="tonal"]),
:host([variant="tonal"]:not([has-selection-icon])) {
  background-color: var(--u-tonal-icon-button-background-color, #{functions.get-color-var(secondary-container)});
  color: var(--u-tonal-icon-button-text-color, #{functions.get-color-var(on-secondary-container)});
}

:host([variant="standard"]),
:host([variant="outlined"]) {
  color: var(--u-standard-icon-button-color, #{functions.get-color-var(on-surface-variant)});
}

:host([variant="outlined"]) {
  border: 1px solid #{functions.get-color-var(outline)};
  color: var(--u-outlined-icon-button-color , var(--u-standard-icon-button-color, #{functions.get-color-var(on-surface-variant)}));
}

:host([selected][variant="outlined"]) {
  border: none;
  background-color: var(--u-outlined-icon-button-selected-background-color, #{functions.get-color-var(inverse-surface)});
  color: var(--u-outlined-icon-button-selected-text-color, #{functions.get-color-var(on-inverse-surface)});
}

:host([selected][variant="standard"]) {
  color: var(--u-standard-icon-button-selected-text-color, var(--_color-primary));
  background-color: var(--u-standard-icon-button-selected-background-color, transparent);
}

:host([disabled][variant=outlined]) {
  background-color: transparent !important;
  border-color: var(--u-outlined-icon-button-disabled-border-color, rgba(#{functions.get-color-rgb-var(on-surface)}, var(--u-outlined-icon-button-disabled-border-opacity, .12))) !important;
}
