@use "../scss/functions";

:host {
  --_round-shape-corner: var(--u-icon-button-round-shape-corner, calc(var(--_size) / 2));
  --_square-shape-corner: var(--u-icon-button-square-shape-corner, 12px);

  --_extra-small-size: var(--u-icon-button-extra-small-size, 32px);
  --_small-size: var(--u-icon-button-small-size, 40px);
  --_medium-size: var(--u-icon-button-medium-size, 56px);
  --_large-size: var(--u-icon-button-large-size, 96px);
  --_extra-large-size: var(--u-icon-button-extra-large-size, 136px);

  --_extra-small-narrow-width: var(--u-icon-button-extra-small-narrow-width, 28px);
  --_small-narrow-width: var(--u-icon-button-small-narrow-width, 32px);
  --_medium-narrow-width: var(--u-icon-button-medium-narrow-width, 48px);
  --_large-narrow-width: var(--u-icon-button-large-narrow-width, 64px);
  --_extra-large-narrow-width: var(--u-icon-button-extra-large-narrow-width, 104px);

  --_extra-small-wide-width: var(--u-icon-button-extra-small-wide-width, 40px);
  --_small-wide-width: var(--u-icon-button-small-wide-width, 52px);
  --_medium-wide-width: var(--u-icon-button-medium-wide-width, 72px);
  --_large-wide-width: var(--u-icon-button-large-wide-width, 128px);
  --_extra-large-wide-width: var(--u-icon-button-extra-large-wide-width, 184px);

  --_extra-small-icon-size: var(--u-icon-button-extra-small-icon-size, 1.25rem);
  --_small-icon-size: var(--u-icon-button-small-icon-size, 1.5rem);
  --_medium-icon-size: var(--u-icon-button-medium-icon-size, 1.5rem);
  --_large-icon-size: var(--u-icon-button-large-icon-size, 2rem);
  --_extra-large-icon-size: var(--u-icon-button-extra-large-icon-size, 2.5rem);

  --_extra-small-square-shape-corner: var(--u-icon-button-extra-small-square-shape-corner, 12px);
  --_small-square-shape-corner: var(--u-icon-button-small-square-shape-corner, 12px);
  --_medium-square-shape-corner: var(--u-icon-button-medium-square-shape-corner, 16px);
  --_large-square-shape-corner: var(--u-icon-button-large-square-shape-corner, 28px);
  --_extra-large-square-shape-corner: var(--u-icon-button-extra-large-square-shape-corner, 28px);

  --_extra-small-pressed-shape-corner: var(--u-icon-button-extra-small-pressed-shape-corner, 8px);
  --_small-pressed-shape-corner: var(--u-icon-button-small-pressed-shape-corner, 8px);
  --_medium-pressed-shape-corner: var(--u-icon-button-medium-pressed-shape-corner, 12px);
  --_large-pressed-shape-corner: var(--u-icon-button-large-pressed-shape-corner, 16px);
  --_extra-large-pressed-shape-corner: var(--u-icon-button-extra-large-pressed-shape-corner, 16px);

  --_narrow-width: var(--_small-narrow-width);
  --_wide-width: var(--_small-wide-width);
}

.container {
  width: var(--_size);
  height: var(--_size);
  font-family: #{functions.get-font-family-var()};
}

.extra-small {
  --_narrow-width: var(--_extra-small-narrow-width);
  --_wide-width: var(--_extra-small-wide-width);
}

.medium {
  --_narrow-width: var(--_medium-narrow-width);
  --_wide-width: var(--_medium-wide-width);
}

.large {
  --_narrow-width: var(--_large-narrow-width);
  --_wide-width: var(--_large-wide-width);
}

.extra-large {
  --_narrow-width: var(--_extra-large-narrow-width);
  --_wide-width: var(--_extra-large-wide-width);
}

.narrow {
  width: var(--_narrow-width);
}

.wide {
  width: var(--_wide-width);
}

.filled {
  &,
  &.selected {
    background-color: var(--u-filled-icon-button-container-color, #{functions.get-color-var(primary)});
    color: var(--u-filled-icon-button-text-color, #{functions.get-color-var(on-primary)});
  }

  &.toggle {
    background-color: var(--u-filled-icon-button-unselected-container-color, #{functions.get-color-var(surface-container)});
    color: var(--u-filled-icon-button-unselected-text-color, #{functions.get-color-var(on-surface-variant)});
  }
}

.tonal {
  background-color: var(--u-total-icon-button-unselected-container-color, #{functions.get-color-var(secondary-container)});
  color: var(--u-tonal-icon-button-unselected-text-color, #{functions.get-color-var(on-secondary-container)});

  &.selected {
    background-color: var(--u-tonal-icon-button-container-color, #{functions.get-color-var(secondary)});
    color: var(--u-tonal-icon-button-text-color, #{functions.get-color-var(on-secondary)});
  }
}

.standard {
  color: var(--u-standard-icon-button-color, #{functions.get-color-var(on-surface-variant)});

  &.selected {
    color: var(--u-standard-icon-button-selected-text-color, #{functions.get-color-var(primary)});
    background-color: var(--u-standard-icon-button-selected-container-color, transparent);
  }
}

.outlined {
  color: var(--u-outlined-icon-button-color , #{functions.get-color-var(on-surface-variant)});

  &,
  &.selected.disabled {
    border: 1px solid #{functions.get-color-var(outline-variant)};
  }

  &.selected {
    border: none;
    background-color: var(--u-outlined-icon-button-selected-container-color, #{functions.get-color-var(inverse-surface)});
    color: var(--u-outlined-icon-button-selected-text-color, #{functions.get-color-var(on-inverse-surface)});
  }

  &.disabled {
    color: var(--u-outlined-icon-button-disabled-icon-color, #{functions.get-color-transparency-mix(functions.get-color-var(on-surface), var(--u-outlined-icon-button-disabled-border-opacity, 10%))}) !important;
  }
}
