docs-title(title="Tabs")


.u-column
  u-button-set(alignment="start")
    u-icon-button((click)="addTab()")
      span.materi.material-symbols-outlined add
    u-icon-button((click)="tabs.splice(tabs.length - 1, 1)")
      span.materi.material-symbols-outlined remove

  u-tab-bar
    u-tab(*ngFor="let tab of tabs; let i = index")
      span.material-symbols-outlined(slot="icon") flight
      span {{tab}} {{i + 1}}
