docs-title(title="Cards")

docs-example(
  sectionTitle="Variants",
  [html]="variantsHtml")

docs-example(
  sectionTitle="Card with actions",
  [html]="cardWithActionsHtml")

docs-example(
  sectionTitle="Card media",
  [html]="cardMediaHtml")
