@use "../scss/functions";
@use "../scss/mixins";

:host {
  display: block;
  background-color: var(--u-modal-drawer-background-color, #{functions.get-color-var(surface-container-low)});
  color: var(--u-drawer-text-color, #{functions.get-color-var(on-secondary-container)});
  height: 100%;
  padding-inline: var(--u-drawer-padding, 28px);
}

@include mixins.media-breakpoint-up(md) {
  :host {
    background-color: var(--u-standard-drawer-background-color, var(--u-color-background, #{functions.get-color-var(surface)}));
  }
}
