@use '../scss/functions';
@use '../scss/mixins';

:host {
  display: block;
  --_drawer-item-icon-size: var(--u-drawer-item-icon-size, 1.125rem);
  --_drawer-item-padding: var(--u-drawer-item-padding, 16px);

  @include mixins.typo(label-l, drawer-item);

  height: var(--u-drawer-item-height, 56px);
  padding-inline: var(--_drawer-item-padding);
  margin-inline: calc(var(--_drawer-item-padding) * -1);
  border-radius: var(--u-drawer-item-shape-corner, #{functions.get-shape-corner-var(full)});
  color: var(--u-drawer-item-label-inactive-color,  #{functions.get-color-var(on-surface-variant)});
}

:host([active]) {
  color: var(--u-drawer-item-label-active-color, var(--_color-primary));
}

:host(:not([has-icon])) .icon,
:host(:not([has-badge])) .badge {
  display: none;
}

.icon {
  font-size: var(--_drawer-item-icon-size);
  line-height: var(--_drawer-item-icon-size);
  margin-inline-end: var(--u-drawer-item-icon-margin, 16px);
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: auto;
  padding-inline: var(--u-drawer-item-badge-padding, (12px 8px));
}

.content {
  justify-content: flex-start;
}
