@use "../scss/functions";
@use "../scss/mixins";

:host {
  display: block;
  height: 100vh;
}

.container {
  background-color: var(--u-modal-drawer-bg-color, #{functions.get-color-var(surface-container-low)});
  color: var(--u-drawer-text-color, #{functions.get-color-var(on-secondary-container)});
  height: 100%;
  overflow: auto;
  padding: var(--u-drawer-padding, var(--u-drawer-padding-block, 16px) var(--u-drawer-padding-inline, 28px));
}

@include mixins.media-breakpoint-up(lg) {
  .container {
    background-color: var(--u-standard-drawer-bg-color, var(--u-color-body, #{functions.get-color-var(surface)}));
  }
}
