@use "../scss/variables";
@use "../scss/functions";
@use "../scss/mixins";

@use "side-navigation-base.styles" as *;

.navigation {
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  height: 100%;
  z-index: var(--u-side-navigation-z-index, 1030);
}

.drawer {
  position: absolute;
  inset-inline-start: var(--_navigation-drawer-width-negative);
  inset-block-start: 0;
  width: var(--_navigation-drawer-width);
  height: 100%;
  border-start-end-radius: var(--_navigation-drawer-corner-shape);
  border-end-end-radius: var(--_navigation-drawer-corner-shape);
  overflow: hidden;

  &.toggle {
    inset-inline-start: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: var(--_navigation-width) minmax(0, 1fr);
  transition: 375ms variables.$awesome-cubic-bezier;

  --u-app-bar-offset: var(--_navigation-width);
}

@include mixins.media-breakpoint-up(lg) {

  .drawer {
    inset-inline-start: 0;

    &.toggle {
      inset-inline-start: var(--_navigation-drawer-width-negative);
    }
  }
}
