@use "../scss/variables";
@use "../scss/mixins";

:host {
  --_navigation-width: 0;
  --_navigation-drawer-width: min(var(--u-navigation-drawer-width, 360px), 85vw);
}

.drawer {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  width: var(--_navigation-drawer-width);
  height: 100%;
  transform: translate3d(-100%, 0, 0);
  transition: transform 375ms variables.$awesome-cubic-bezier;

  &.toggle {
    transform: translate3d(0, 0, 0);
  }
}

.navigation {
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: var(--_navigation-width) minmax(0, 1fr);
  transition: 375ms variables.$awesome-cubic-bezier;


  @include mixins.media-breakpoint-up(md) {

    --_navigation-width: var(--_navigation-drawer-width);

    .drawer {
      transform: translate3d(0, 0, 0);

      &.toggle {
        transform: translate3d(-100%, 0, 0);
      }
    }

    &:has(.drawer.toggle) {
      --_navigation-width: 0;
    }
  }

  --u-app-bar-offset: var(--_navigation-width);
}
