@charset "UTF-8";
body {
  --u-scrim-color-rgb: 0, 0, 0;
  background-color: var(--u-color-background);
  color: var(--u-color-on-background);
}

/*BEGIN*/


/*END*/

.u-dark-mode {
  color: var(--u-color-on-background);
}

#main-content {
  padding-top: 56px;
}

.example-box {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow: auto;
  background: #e0e0e0;
}

.example-box-header {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: var(--u-surface-color);
}
.example-box-header .u-toolbar {
  width: 100%;
}
.example-box-header .u-dropdown {
  display: inline-block;
}

.limited-height {
  max-height: 300px;
  overflow: auto;
}

.example-step-content {
  width: 100%;
  height: 300px;
  background: #ccc;
}

.list-example-box-header {
  --u-elevation-tint-opacity: var(--u-elevation-tint1-opacity);
  background-image: linear-gradient(rgba(var(--u-elevation-tint-color-rgb), var(--u-elevation-tint-opacity)), rgba(var(--u-elevation-tint-color-rgb), var(--u-elevation-tint-opacity)));
}
.list-example-box-header .u-list {
  width: 300px;
}

.menu-example .example-box-header {
  height: 14rem;
}

.u-card-filled,
.u-card-outlined,
.u-card-elevated {
  margin-bottom: 8px;
}

.u-card-media,
.u-card-media-wide {
  background: url("/img/venice.jpg") center;
  background-size: cover;
}

.u-list-item-avatar {
  background: var(--u-low-emphasis-color);
  background-size: cover;
}

.chapter,
.article-title {
  margin-top: 80px;
}

.chapter-title,
.article-title {
  margin-bottom: 48px;
  font-weight: 400;
  color: var(--u-color-primary);
}

.article-title {
  margin-bottom: 1rem;
}

pre {
  margin: 0;
}

code {
  padding: 1rem !important;
  unicode-bidi: plaintext;
  background: transparent !important;
}

.nested-menu-items {
  max-height: 0;
  -webkit-padding-start: 12px;
  padding-inline-start: 12px;
  overflow: hidden;
}

.nested-menu-items.expanded {
  max-height: 500px;
}

.nested-menu-items u-drawer-item {
  margin-inline: 0;
}

.example-card h1,
.example-card h2,
.example-card h3,
.example-card h4,
.example-card h5,
.example-card h6 {
  margin: 0;
}

.example-card > u-card-content:first-child {
  padding: 36px;
}

.example-card .u-floating-action-area {
  position: static;
}
.example-card .u-floating-menu {
  position: relative;
  margin-top: 200px;
}
.example-card .u-chip-avatar {
  background: rgba(0, 0, 0, 0.54);
}

.example-card-code {
  background-color: var(--u-color-surface-container-low);
  border-radius: var(--u-card-shape, var(--u-shape-corner-medium, 12px)) !important;
}

.example-card-grid-container {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 8px;
}

.example-card-grid-container u-card {
  margin: 0;
}

.example-card-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background: url("https://picsum.photos/seed/picsum/800/800") center;
  background-size: cover;
}

.example-card-media u-card-content {
  background-color: rgba(var(--u-scrim-color-rgb), .8);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.47);
  background-clip: content-box;
  border-radius: 3px;
}

.u-dark-mode::-webkit-scrollbar-thumb,
.u-dark-mode ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.47);
}

body {
  overflow-y: auto;
  overflow-y: overlay;
}
/*# sourceMappingURL=docs.css.map */

.api-card {
  overflow-y: auto;
}

.api-card u-td {
  font-weight: 400;
  font-size: 1rem;
}

.api-card code {
  white-space: nowrap;
  color: var(--u-on-surface-variant-color);
  background-color: var(--u-surface-container-high-color) !important;
  padding: 4px !important;
  border-radius: 8px;
}

.api-description-cell {
  white-space: pre-wrap;
}

.ripple-example-container {
  position: relative;
  width: 200px;
  aspect-ratio: 1;
  border: 1px solid var(--u-outline-color);
}

.round {
  border-radius: 24px;
}

.u-toolbar {
  inset-inline-start: var(--u-app-bar-offset);
}

.u-navigation-drawer-headline {
  padding-block: 16px;
  margin-block: 0;
}

.position-relative {
  position: relative !important;
}

.d-inline-block {
  display: inline-block;
}

.material-symbols-outlined {
  font-size: inherit;
}

.material-symbols-fill {
  font-variation-settings: 'FILL' 1
}
