@use "sass:map";

@use "variables";
@use "functions";
@use "mixins";

:root {
  --u-state-layer-color: currentColor;
  --u-state-layer-hover-opacity: .08;
  --u-state-layer-focus-opacity: .12;
  --u-state-layer-pressed-opacity: .12;
  --u-state-layer-dragged-opacity: .16;

  --u-high-emphasis-opacity: 1;
  --u-low-emphasis-opacity: .75;
  --u-lower-emphasis-opacity: .5;

  --u-color-body: #{functions.get-color-var(surface)};
  --u-color-on-body: #{functions.get-color-var(on-surface)};
  --u-color-body-rgb: #{functions.get-color-rgb-var(surface)};
  --u-color-on-body-rgb: #{functions.get-color-rgb-var(on-surface)};

  --u-font-family: #{variables.$font-family};
  --u-font-monospace: #{variables.$font-mono};
  --u-current-text-color: var(--u-color-on-body);
  --u-current-text-color-rgb: var(--u-color-on-body-rgb);
  --u-text-opacity: var(--u-high-emphasis-opacity);
  --u-layout-margin: var(--u-layout-margin-default);
  --u-layout-gutter: var(--u-layout-gutter-default);
  --u-layout-margin-default: var(--u-spacing-medium);
  --u-layout-gutter-default: var(--u-spacing-medium);

  @each $name, $value in variables.$font-weights {
    --u-font-weight-#{$name}: #{$value};
  }

  @each $name, $value in variables.$spacings {
    --u-spacing-#{$name}: #{$value};
  }

  @each $name, $value in variables.$shape-corner {
    --u-shape-corner-#{$name}: #{$value};
  }
}

@include mixins.media-breakpoint-up(sm) {

  :root {
    --u-layout-margin-default: var(--u-spacing-large);
    --u-layout-gutter-default: var(--u-spacing-large);
  }
}
