@use "sass:map";

@use "variables";
@use "functions";
@use "mixins";

:root {
  --u-state-layer-color: currentColor;
  --u-hover-state-layer-opacity: .08;
  --u-focus-state-layer-opacity: .12;
  --u-pressed-state-layer-opacity: .12;
  --u-dragged-state-layer-opacity: .16;
  --u-disabled-state-background-opacity: .12;
  --u-disabled-state-label-opacity: .57;
  --u-disabled-state-opacity: .38;
  --u-high-emphasis-opacity: 1;
  --u-low-emphasis-opacity: .75;
  --u-lower-emphasis-opacity: .5;
  --u-color-background: #{functions.get-color-var(surface)};
  --u-color-on-background: #{functions.get-color-var(on-surface)};
  --u-color-background-rgb: #{functions.get-color-rgb-var(surface)};
  --u-color-on-background-rgb: #{functions.get-color-rgb-var(on-surface)};

  --u-current-text-color-rgb: var(--u-color-on-background-rgb);
  --u-high-emphasis-color: rgba(var(--u-current-text-color-rgb), var(--u-high-emphasis-opacity));
  --u-low-emphasis-color: rgba(var(--u-current-text-color-rgb), var(--u-low-emphasis-opacity));
  --u-lower-emphasis-color: rgba(var(--u-current-text-color-rgb), var(--u-lower-emphasis-opacity));

  @each $name, $value in variables.$font-weights {
    --u-font-weight-#{$name}: #{$value};
  }

  @each $color-name, $color-value in variables.$static-colors {
    @include mixins.common-colors-vars($color-value, $color-name);
  }
}
