@use "sass:map";

$awesome-cubic-bezier: cubic-bezier(.19, 1, .22, 1) !default;
$u-success-color: #007e33 !default;
$u-info-color: #33b5e5 !default;
$u-warning-color: #ffbb33 !default;

$breakpoints: (
  xs: 0,
  sm: 600px,
  md: 840px,
  lg: 1200px,
  xl: 1600px
);

$color-roles: (
  primary,
  primary-container,
  secondary,
  secondary-container,
  tertiary,
  tertiary-container,
  error,
  error-container,
  surface,
  surface-variant,
  surface-container,
  surface-container-highest,
  surface-container-high,
  surface-container-low,
  surface-container-lowest,
  inverse-surface,
  inverse-surface-variant,
  background,
  inverse-background
);

$on-color-roles: (
  on-primary,
  on-primary-container,
  on-secondary,
  on-secondary-container,
  on-tertiary,
  on-tertiary-container,
  on-error,
  on-error-container,
  on-surface,
  on-inverse-surface,
  on-inverse-surface-variant,
);

$rgb-colors: (
  primary: unquote("103, 80, 164"),
  on-primary: unquote("255, 255, 255"),
  primary-container: unquote("234, 221, 255"),
  on-primary-container: unquote("33, 0, 93"),
  secondary: unquote("98, 91, 113"),
  secondary-container: unquote("232, 222, 248"),
  on-secondary-container: unquote("29, 25, 43"),
  on-secondary: unquote("255, 255, 255"),
  tertiary: unquote("125, 82, 96"),
  on-tertiary: unquote("255, 255, 255"),
  tertiary-container: unquote("255, 216, 228"),
  on-tertiary-container: unquote("49, 17, 29"),
  error: unquote("179, 38, 30"),
  on-error: unquote("255, 255, 255"),
  error-container: unquote("249, 222, 220"),
  on-error-container: unquote("65, 14, 11"),
  surface: unquote("254, 247, 255"),
  on-surface: unquote("29, 27, 32"),
  surface-variant: unquote("231, 224, 236"),
  on-surface-variant: unquote("73, 69, 79"),
  surface-container-highest: unquote("230, 224, 233"),
  surface-container-high: unquote("236, 230, 240"),
  surface-container: unquote("243, 237, 247"),
  surface-container-low: unquote("247, 242, 250"),
  surface-container-lowest: unquote("255, 255, 255"),
  inverse-surface: unquote("50, 47, 53"),
  on-inverse-surface: unquote("245, 239, 247"),
  outline: unquote("121, 116, 126"),
  outline-variant: unquote("202, 196, 208"),
  scrim: unquote("0, 0, 0"),
  shadow: unquote("0, 0, 0")
);

$colors: ();

@each $name, $value in $rgb-colors {
  $colors: map.set($colors, $name, unquote("rgb(#{$value})"));
}

$static-colors: (
  success: $u-success-color,
  info: $u-info-color,
  warning: $u-warning-color,
);

$spacings: (
  extra-small: 4px,
  small: 8px,
  medium: 16px,
  large: 24px,
  extra-large: 40px,
);

$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-weights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  bolder: 900,
);

$shape-corner: (
  none: 0,
  extra-small: 4px,
  small: 8px,
  medium: 12px,
  large: 16px,
  extra-large: 28px,
  full: 9999px
);
