@use "../scss/api";

:host {
  display: block;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: var(--u-list-item-min-height, 56px);
  padding-block: var(--u-list-item-block-padding, 8px);
  padding-inline: var(--u-list-item-inline-padding, 16px);
  gap: var(--u-list-item-gap, 16px);
}

.selectable {
  cursor: pointer;
}

slot:not([name]) {
  display: block;
  margin-inline-end: auto;
}

slot {
  flex-shrink: 0;
}

.content {
  flex: 1;
  min-width: 0;
}

.headline {
  @include api.typo(body-l, list-item-headline);
}

.supporting-text {
  @include api.typo(body-m, list-item-supporting-text);
  color: var(--u-list-item-supporting-text-color, #{api.get-color-var(on-surface-variant)});
}
