@use "../scss/api";

.container {
  --_badge-size: var(--u-badge-small-size, 6px);

  @include api.typo(label-s, badge);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--_badge-size);
  height: var(--_badge-size);
  line-height: var(--_badge-size);
  background-color: var(--u-badge-color, #{api.get-color-var(error)});
  color: var(--u-badge-color, #{api.get-color-var(on-error)});
  border-radius: calc(var(--_badge-size) / 2);

  &:not(.static) {
    --_badge-inline-start: calc(100% - var(--_badge-size));
    position: absolute;
    top: 0;
    inset-inline-start: var(--_badge-inline-start);
  }

  &:not(.empty) {
    --_badge-size: var(--u-badge-large-size, 16px);
    top: var(--u-badge-top-offset, -2px);
    inset-inline-start: calc(var(--_badge-inline-start) - var(--u-badge-inline-offset, -4px));
    padding-inline: var(--u-badge-padding, 4px);
  }
}
